In [5]:
%matplotlib inline

import numpy as np
from matplotlib import pyplot as plt
from numpy import random as rnd
import warnings,datetime,os,calendar,csv,time

import pickle,h5py,json

import tensorflow as tf
import pandas as pd
import seaborn as sns

from keras.models import Model,Sequential
from keras.layers import Dense,LSTM,Conv2D,Dropout,BatchNormalization,Input,Concatenate,Add,Activation,MaxPooling2D,AveragePooling2D
import keras.backend as K

from sklearn import preprocessing as pp
from sklearn.cluster import KMeans,DBSCAN,MeanShift,AgglomerativeClustering
from sklearn.mixture import GaussianMixture

from statsmodels.tsa.seasonal import seasonal_decompose

import pyodbc

sns.set()
warnings.filterwarnings('ignore')

In [21]:
dbpath = '..\\..\\..\\..\\banking.accdb'

conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
# Read Single Transactions table
STR = pd.read_sql_query(
'''
SELECT * FROM STR
'''
,conn).set_index('STR_id')
# Close connection
conn.close()
# Transform STR
STR['Date_booked'] = pd.to_datetime(STR['Date_booked'])
STR['Date_ordered'] = pd.to_datetime(STR['Date_ordered'])
#STR['Value_transaction'] = STR['Value_transaction'].astype('float')
# Select rows with unknown single customer ID
STR = STR[STR['SCA_id']=='None']

In [22]:
rf = STR[STR['Value_transaction']>0]
nf = STR[STR['Value_transaction']==0]
ef = STR[STR['Value_transaction']<0]

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
STR[['Value_transaction']]

       Value_transaction
STR_id
346                -50.0
347                  0.0
348                 -4.5
349               -235.0
350                -24.9
351               -66.89
352                -64.9
353                -62.0
354                -2.05
355              2539.35
356                -3.99
357                -4.99
358               -21.99
359                -8.19
360                -3.99
361              -245.86
362                -79.8
363                -4.99
364                -5.61
365                -1.87
366                -3.99
367                -29.9
368                -50.0
369                -3.99
370                -2.99
371                -9.99
372                -50.0
373                -25.0
374                -69.0
375               -51.61
...                  ...
820                750.0
821             -50178.0
822              -7980.0
823              -5000.0
824              -5000.0
825              -5214.0
826              -2990.0
827              -9034.0
828              -5000.0
829              -2650.0
830               -999.0
831              -5000.0
832              20000.0
833              -5466.0
834                  0.0
835               -450.0
836             -23500.0
837               -205.0
838              -6700.0
839              -2490.0
840              -2050.0
841              73500.0
842             -47048.0
843              10000.0
844              -5606.0
845              -7980.0
846               2500.0
847              -9034.0
848              -5000.0
849              -2990.0

[504 rows x 1 columns]