In [1]:
# Imports
import numpy as np
import datetime,os
import pandas as pd
from fuzzywuzzy import fuzz
import pyodbc
import re
from itertools import product
from ipywidgets import IntProgress
from IPython.display import display

# Read in STR table
def read_STR(dbpath):
    # Connect to Access DB
    conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
    # Read Single Transactions table
    STR = pd.read_sql_query(
    '''
    SELECT * FROM STR
    '''
    ,conn).reset_index(drop=True)
    # Close connection
    conn.close()
    # Transform STR
    STR['Date_booked'] = pd.to_datetime(STR['Date_booked'])
    STR['Date_ordered'] = pd.to_datetime(STR['Date_ordered'])
    STR['Value_transaction'] = STR['Value_transaction'].astype('float')
    return STR

# Read in TRI table
def read_TRI(dbpath):
    # Connect to Access DB
    conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
    # Read Transaction Information table
    TRI = pd.read_sql_query(
    '''
    SELECT * FROM TRINFORMATION
    '''
    ,conn).reset_index(drop=True)
    # Close connection
    conn.close()
    return TRI

In [2]:
# Load data

dbpath = '..\\..\\..\\..\\banking.accdb'

STR = read_STR(dbpath)
TRI = read_TRI(dbpath)

bf = pd.merge(STR,TRI,on='KEYID',how='left')

In [3]:
# Identify single transactions by known keywords 

bf.loc[bf[(bf['Text_transaction']=='BARGELDAUSZAHLUNG')].index,'CTYPE']= 'SINGLE'
bf.loc[bf[(bf['Text_transaction']=='BARGELDAUSZAHLUNG')].index,'EPARTYID']= '0'
bf.loc[bf[(bf['Text_transaction']=='BARGELDAUSZAHLUNG')].index,'EPARTYNAME']= 'CASHOUT'

In [4]:
df0 = bf[bf['Text_transaction']!='BARGELDAUSZAHLUNG'].reset_index(drop=True)
df0['CustomerKEY'] = df0.apply(lambda x: str(x['Contact'])+'|'+str(x['AccNum'])+'|'+str(x['Use']),axis=1)

In [5]:
L = []
for k in product(df0['CustomerKEY'].unique(),df0['CustomerKEY'].unique()):
    L.append([k[0].lower(),k[1].lower()])

In [6]:
df1 = pd.DataFrame(L).rename(columns={0:'A0',1:'A1'})

In [7]:
df1['A0NAME'] = df1.apply(lambda x: x['A0'].split('|')[0],axis=1)
df1['A0NUMBER'] = df1.apply(lambda x: x['A0'].split('|')[1],axis=1)
df1['A0USE'] = df1.apply(lambda x: x['A0'].split('|')[2],axis=1)

df1['A1NAME'] = df1.apply(lambda x: x['A1'].split('|')[0],axis=1)
df1['A1NUMBER'] = df1.apply(lambda x: x['A1'].split('|')[1],axis=1)
df1['A1USE'] = df1.apply(lambda x: x['A1'].split('|')[2],axis=1)

In [8]:
df1['SIM_name'] = df1.apply(lambda x: float(fuzz.ratio(x['A0NAME'],x['A1NAME']))/100,axis=1)
df1['SIM_num'] = df1.apply(lambda x: float(fuzz.ratio(x['A0NUMBER'],x['A1NUMBER']))/100,axis=1)
df1['SIM_use'] = df1.apply(lambda x: float(fuzz.ratio(x['A0USE'],x['A1USE']))/100,axis=1)

In [9]:
df2 = df1[['A0','A1','SIM_name','SIM_num','SIM_use']]

In [11]:
import plotly.express as px

df = px.data.iris()
fig = px.scatter_3d(df2, x='SIM_name', y='SIM_num', z='SIM_use')
fig.show()

In [15]:
from sklearn.cluster import DBSCAN

dbscan = DBSCAN()

,A0,A1,SIM_name,SIM_num,SIM_use
0,nan|0020557849|abrechnung 30 09 2019 siehe anl...,nan|0020557849|abrechnung 30 09 2019 siehe anl...,1.00,1.00,1.00
1,nan|0020557849|abrechnung 30 09 2019 siehe anl...,nan|0000000000|entgeltabrechnung siehe anlage,1.00,0.30,0.73
2,nan|0020557849|abrechnung 30 09 2019 siehe anl...,elaine fernandez|de46763500000044116613|miete ...,0.32,0.25,0.32
3,nan|0020557849|abrechnung 30 09 2019 siehe anl...,slf sportland franken gmbh co kg|de88763500000...,0.17,0.25,0.39
4,nan|0020557849|abrechnung 30 09 2019 siehe anl...,siemens aktiengesellschaft|de53700700100203008...,0.21,0.31,0.32
5,nan|0020557849|abrechnung 30 09 2019 siehe anl...,telekom deutschland gmbh landgrabenweg 151|de6...,0.13,0.38,0.35
6,nan|0020557849|abrechnung 30 09 2019 siehe anl...,estw erlangerstadtwerkeag|de067632007200045367...,0.14,0.38,0.30
7,nan|0020557849|abrechnung 30 09 2019 siehe anl...,igm erlangen|de28500500000083044008|beitrag bi...,0.27,0.31,0.26
8,nan|0020557849|abrechnung 30 09 2019 siehe anl...,siemens ag|de90700500000002055382|lohn gehalt ...,0.31,0.44,0.42
9,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
10,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
11,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
12,nan|0020557849|abrechnung 30 09 2019 siehe anl...,paypal europe s a r l et cie s c a |de88500700...,0.05,0.31,0.33
13,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
14,nan|0020557849|abrechnung 30 09 2019 siehe anl...,kreditkartenabrechnung|9902292060|visa abr 490...,0.24,0.30,0.23
15,nan|0020557849|abrechnung 30 09 2019 siehe anl...,schaefer nohe sagt danke erlangen de|de4637010...,0.15,0.38,0.29
16,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.33
17,nan|0020557849|abrechnung 30 09 2019 siehe anl...,paypal europe s a r l et cie s c a |de88500700...,0.05,0.31,0.32
18,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
19,nan|0020557849|abrechnung 30 09 2019 siehe anl...,m net telekommunikations gmbh|de74700500000000...,0.19,0.25,0.36
20,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
21,nan|0020557849|abrechnung 30 09 2019 siehe anl...,amazon instant video germany gmbh|de0730030880...,0.17,0.25,0.29
22,nan|0020557849|abrechnung 30 09 2019 siehe anl...,paypal europe s a r l et cie s c a |de88500700...,0.05,0.31,0.26
23,nan|0020557849|abrechnung 30 09 2019 siehe anl...,jens moeller gmbh|de85763500000000001669|kiese...,0.10,0.25,0.39
24,nan|0020557849|abrechnung 30 09 2019 siehe anl...,karstadt lebensm sagt dank nuernberg lorenz de...,0.12,0.31,0.26
25,nan|0020557849|abrechnung 30 09 2019 siehe anl...,xxxs006xxx saturn e nuernberg de|de38300500000...,0.11,0.25,0.26
26,nan|0020557849|abrechnung 30 09 2019 siehe anl...,aldi gmbh co kg erlangen de|de2930050000000113...,0.13,0.25,0.29
27,nan|0020557849|abrechnung 30 09 2019 siehe anl...,estw erlangerstadtwerkeag|de067632007200045367...,0.14,0.38,0.30
28,nan|0020557849|abrechnung 30 09 2019 siehe anl...,siemens aktiengesellschaft|de53700700100203008...,0.21,0.31,0.34
29,nan|0020557849|abrechnung 30 09 2019 siehe anl...,slf sportland franken gmbh co kg|de88763500000...,0.17,0.25,0.36
...,...,...,...,...,...
55195,m net telekommunikations gmbh|de74700500000000...,m net telekommunikations gmbh|de74700500000000...,1.00,1.00,0.84
55196,m net telekommunikations gmbh|de74700500000000...,techniker krankenkasse|de18200100200030936201|...,0.31,0.50,0.38
55197,m net telekommunikations gmbh|de74700500000000...,1283 klier erlangen de|de13269410530682240708|...,0.31,0.41,0.33
55198,m net telekommunikations gmbh|de74700500000000...,siemens aktiengesellschaft|de53700700100203008...,0.33,0.64,0.31
55199,m net telekommunikations gmbh|de74700500000000...,nan|0020557849|abrechnung 28 12 2018 siehe anl...,0.19,0.25,0.35
55200,m net telekommunikations gmbh|de74700500000000...,igm erlangen|de28500500000083044008|beitrag bi...,0.34,0.68,0.31
55201,m net telekommunikations gmbh|de74700500000000...,estw erlangerstadtwerkeag|de067632007200045367...,0.33,0.45,0.30
55202,m net telekommunikations gmbh|de74700500000000...,slf sportland franken gmbh co kg|de88763500000...,0.36,0.68,0.34
55203,m net telekommunikations gmbh|de74700500000000...,paypal europe s a r l et cie s c a |de88500700...,0.28,0.50,0.31
55204,m net telekommunikations gmbh|de74700500000000...,siemens ag|de90700500000002055382|lohn gehalt ...,0.31,0.73,0.26
55205,m net telekommunikations gmbh|de74700500000000...,telekom deutschland gmbh landgrabenweg 151|de6...,0.42,0.50,0.34
55206,m net telekommunikations gmbh|de74700500000000...,schaefer nohe sagt danke erlangen de|de4637010...,0.31,0.55,0.29
55207,m net telekommunikations gmbh|de74700500000000...,elaine fernandez|de46763500000044116613|gesche...,0.31,0.55,0.16
55208,m net telekommunikations gmbh|de74700500000000...,techniker krankenkasse|de18200100200030936201|...,0.31,0.50,0.35
55209,m net telekommunikations gmbh|de74700500000000...,m net telekommunikations gmbh|de74700500000000...,1.00,1.00,0.89
55210,m net telekommunikations gmbh|de74700500000000...,dekabank deutsche girozentrale mainzer landstr...,0.33,0.55,0.31
55211,m net telekommunikations gmbh|de74700500000000...,elaine fernandez|de46763500000044116613|oma ha...,0.31,0.55,0.14
55212,m net telekommunikations gmbh|de74700500000000...,paypal europe s a r l et cie s c a |de88500700...,0.28,0.50,0.25
55213,m net telekommunikations gmbh|de74700500000000...,estw erlangerstadtwerkeag|de067632007200045367...,0.33,0.45,0.30
55214,m net telekommunikations gmbh|de74700500000000...,siemens aktiengesellschaft|de53700700100203008...,0.33,0.64,0.30
55215,m net telekommunikations gmbh|de74700500000000...,slf sportland franken gmbh co kg|de88763500000...,0.36,0.68,0.36
55216,m net telekommunikations gmbh|de74700500000000...,siemens ag|de90700500000002055382|lohn gehalt ...,0.31,0.73,0.26
55217,m net telekommunikations gmbh|de74700500000000...,1283 klier erlangen de|de13269410530682240708|...,0.31,0.41,0.31
55218,m net telekommunikations gmbh|de74700500000000...,igm erlangen|de28500500000083044008|beitrag bi...,0.34,0.68,0.31
55219,m net telekommunikations gmbh|de74700500000000...,telekom deutschland gmbh landgrabenweg 151|de6...,0.42,0.50,0.36
55220,m net telekommunikations gmbh|de74700500000000...,elaine fernandez|de46763500000044116613|geld f...,0.31,0.55,0.19
55221,m net telekommunikations gmbh|de74700500000000...,angelika deinhard|de60773501100000932426|mit d...,0.39,0.59,0.36
55222,m net telekommunikations gmbh|de74700500000000...,schaefer nohe sagt danke erlangen de|de4637010...,0.31,0.55,0.31
55223,m net telekommunikations gmbh|de74700500000000...,techniker krankenkasse|de18200100200030936201|...,0.31,0.50,0.37
55224,m net telekommunikations gmbh|de74700500000000...,m net telekommunikations gmbh|de74700500000000...,1.00,1.00,1.00