In [32]:
# Imports
import numpy as np
import datetime,os
import pandas as pd
from fuzzywuzzy import fuzz
import pyodbc

# Assembles an appropriate SQL write query
def assemble_sql_write_query(table_name,row):
    sql_write_query = 'INSERT INTO '+table_name+'('
    for colname in row.index:
        sql_write_query += '['
        sql_write_query += colname
        sql_write_query += '],'
    sql_write_query = sql_write_query[:-1]
    sql_write_query += ') VALUES('
    for colname in row.index:
        sql_write_query += '\''
        sql_write_query += str(row[colname])
        sql_write_query += '\''
        sql_write_query += ','
    sql_write_query = sql_write_query[:-1]
    sql_write_query += ')'
    return sql_write_query

# Clears DB of table, and replaces it with new table stored in pandas format
def pandas_to_access_clean_write(conn,df,table_name,verbose=False):
    cursor = conn.cursor()
    
    sql_delete_query = 'DELETE * FROM '+table_name
    cursor.execute(sql_delete_query)
    conn.commit()
    
    for index,row in df.iterrows():
        sql_write_query = assemble_sql_write_query(table_name,row)
        if verbose: print(sql_write_query+'\n\n')
        cursor.execute(sql_write_query)
        conn.commit()
    cursor.close()
    
    return

# Clear access DB of table
def access_clear_table(conn,table_name):

    cursor = conn.cursor()

    sql_delete_query = 'DELETE * FROM '+table_name
    cursor.execute(sql_delete_query)
    conn.commit()

    cursor.close()
    
    return

# Find a row in STR file
def find_row_in_STR(df,of,df_idx,THRESHOLD=0.01):
    assert df_idx in df.index,'Index not in data frame.'
    assert set(df.columns).issubset(set(of.columns)),'Some required columns were not found in table file.'
    of = of[df.columns.tolist()]
    assert all([df[c_col].dtype==of[c_col].dtype for c_col in of.columns]),'Found non-matching column types between comparison data frames.'
    rl = []
    for c_idx in of.index:
        tl = []
        exceeds_threshold = False
        for c_col in of.columns:
            if df[c_col].dtype=='datetime64[ns]':
                c_div = np.abs((df.iloc[df_idx][c_col]-of.iloc[c_idx][c_col]).days)
            elif df[c_col].dtype=='object':
                c_div = float((100-fuzz.ratio(str(df.iloc[df_idx][c_col]),str(of.iloc[c_idx][c_col])))/100)
            elif df[c_col].dtype=='float64':
                c_div = np.abs(df.iloc[df_idx][c_col]-of.iloc[c_idx][c_col])
            else:
                raise Exception('Column name does not match expected format.')
            if c_div>THRESHOLD: 
                exceeds_threshold = True
                break
            tl.append(c_div)
        if not exceeds_threshold: rl.append([c_idx,tl])
    return rl

# Find all matches between STR and pandas frame
def DF_STR_find_matches(df,STR):
    matches = []
    for df_idx in df.index:
        res = find_row_in_STR(df,STR,df_idx)
        if len(res)==0:
            matches.append([df_idx,int(-1)])
        elif len(res)==1:
            matches.append([df_idx,int(res[0][0])])
        else: 
            print(res)
            matches.append([df_idx,int(-2)])
    matches = pd.DataFrame(matches).rename(columns={0:'DF index',1:'STR index'}).set_index('DF index')
    return matches

# Read in new data
def read_newdata(dirpath):
    # Read new data
    bf = pd.DataFrame()
    for file in os.listdir(dirpath):
        tf = pd.read_excel(dirpath+file)
        bf = pd.concat([bf,tf],sort=False)
    # Transform new data
    bf['Buchungstag'] = pd.to_datetime(bf['Buchungstag'],format='%d.%m.%y')
    bf['Valutadatum'] = pd.to_datetime(bf['Valutadatum'],format='%d.%m.%y')
    # Transform base data
    df = bf[['Buchungstag','Valutadatum','Buchungstext','Verwendungszweck','Beguenstigter/Zahlungspflichtiger','Kontonummer/IBAN','Betrag']].rename(columns={
        'Valutadatum':'Date_ordered', 
        'Buchungstag':'Date_booked', 
        'Buchungstext':'Text_transaction', 
        'Verwendungszweck':'Use',
        'Beguenstigter/Zahlungspflichtiger':'Contact', 
        'Kontonummer/IBAN':'AccNum', 
        'Betrag':'Value_transaction'
    })
    df.index = df.index.rename('STR_id')
    # Transform added information
    af = bf[['Auftragskonto','Glaeubiger ID','Mandatsreferenz','Kundenreferenz (End-to-End)','Sammlerreferenz','Lastschrift Ursprungsbetrag','Auslagenersatz Ruecklastschrift','BIC (SWIFT-Code)','Waehrung','Info']].rename(columns={
        'Auftragskonto':'OrderAccount', 
        'Glaeubiger ID':'LenderID', 
        'Mandatsreferenz':'MandateReference',
        'Kundenreferenz (End-to-End)':'CustomerReference', 
        'Sammlerreferenz':'CollectorReference',
        'Lastschrift Ursprungsbetrag':'Amount0', 
        'Auslagenersatz Ruecklastschrift':'Amount1',
        'BIC (SWIFT-Code)':'BIC', 
        'Waehrung':'Currency', 
        'Info':'Information'
    })
    af.index = af.index.rename('STR_id')
    return bf,df,af

# Read in STR table
def read_STR(dbpath):
    # Connect to Access DB
    conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
    # Read Single Transactions table
    STR = pd.read_sql_query(
    '''
    SELECT * FROM STR
    '''
    ,conn).set_index('STR_id').reset_index(drop=True)
    # Close connection
    conn.close()
    # Transform STR
    STR['Date_booked'] = pd.to_datetime(STR['Date_booked'])
    STR['Date_ordered'] = pd.to_datetime(STR['Date_ordered'])
    STR['Value_transaction'] = STR['Value_transaction'].astype('float')
    return STR

# Read in TRI table
def read_TRI(dbpath):
    # Connect to Access DB
    conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
    # Read Transaction Information table
    TRI = pd.read_sql_query(
    '''
    SELECT * FROM TRINFORMATION
    '''
    ,conn).set_index('STR_id').reset_index(drop=True)
    # Close connection
    conn.close()
    return TRI

# Main function
def __main__():
    # Path definitions
    newdatapath = '..\\..\\..\\TF_data\\ADMIN\\01\\'
    dbpath = '..\\..\\..\\..\\banking.accdb'
    # Read new input
    bf,df,af = read_newdata(newdatapath)
    # Read existing databases
    STR = read_STR(dbpath)
    TRI = read_TRI(dbpath)
    # Detect existing entries
    matches = DF_STR_find_matches(df,STR)
    # Select new data
    new_data = df.loc[matches[matches['STR index']<0].index]
    new_data['SCA_id'] = 'None'
    # Select new added information
    new_added_information = af.loc[matches[matches['STR index']<0].index]
    # Make new files
    STR_new = pd.concat([STR,new_data],sort=False).reset_index(drop=True)
    TRI_new = pd.concat([TRI,new_added_information],sort=False).reset_index(drop=True)
    # Connect to Access DB
    conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
    # Modify DB STR table
    pandas_to_access_clean_write(conn,STR_new,'STR')
    # Modify DB TRI table
    pandas_to_access_clean_write(conn,TRI_new,'TRINFORMATION')
    # Close connection
    conn.close()
    return

In [31]:
__main__()

[[130, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [345, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[131, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [346, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[132, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [347, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[133, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [348, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[134, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [349, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[135, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [350, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[136, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [351, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[137, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [352, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[138, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [353, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[139, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [354, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[140, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [355, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[141, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [356, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[142, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [357, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[143, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [358, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[144, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [359, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[145, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [360, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[146, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [361, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[147, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [362, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[148, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [363, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[149, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [364, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[150, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [365, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[151, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [366, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[152, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [367, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[153, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [368, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[154, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [369, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-02 00:00:00','2019-10-01 00:00:00','BARGELDAUSZAHLUNG','2019-10-01T22:08 Debitk.5 2021-12 ','DECHSENDOR//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ABSCHLUSS','Abrechnung 30.09.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-67.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-656666 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 09/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-22.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-8.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-246.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-09 00:00:00','2019-09-07 00:00:00','BARGELDAUSZAHLUNG','2019-09-07T15:59 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-06 00:00:00','2019-09-06 00:00:00','BARGELDAUSZAHLUNG','2019-09-06T12:29 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-04 00:00:00','2019-09-04 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238912) VOM 03.09.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-52.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-24.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29113194000651/16.08.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-27 00:00:00','2019-08-27 00:00:00','FOLGELASTSCHRIFT','D01-6278352-4568626 Prime Video 1R29MPD0NUAZ417C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','D01-0033970-2962258 Prime Video 6AGR71FD6DDSE40B ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-25.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-345.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-21 00:00:00','2019-08-21 00:00:00','KARTENZAHLUNG','2019-08-20T16:38 Debitk.5 2021-12 ','Kaufland Erlangen//Erlangen/DE','DE25600501010004001050','-24.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-45.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-9.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-9.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-12.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-12 00:00:00','2019-08-12 00:00:00','GUTSCHR. UEBERWEISUNG','Essen Inder ','ELAINE FERNANDEZ','DE46763500000044116613','25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-12 00:00:00','2019-08-10 00:00:00','BARGELDAUSZAHLUNG','10.08/13.44UHR STADTMITTE ','GA NR00002630 BLZ77350110 5','0000000000','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-58.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','61.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-14.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238911) VOM 03.08.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-14.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','2486.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-81.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-26 00:00:00','2019-07-25 00:00:00','BARGELDAUSZAHLUNG','2019-07-25T16:46 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-626.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-19 00:00:00','2019-07-19 00:00:00','BARGELDAUSZAHLUNG','2019-07-19T11:58 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-15.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-11.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','BARGELDAUSZAHLUNG','2019-07-11T12:35 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-20.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-08 00:00:00','2019-07-08 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238910) VOM 03.07.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-55.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-100.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','100.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-436.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-40.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-96.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-13 00:00:00','2019-05-11 00:00:00','BARGELDAUSZAHLUNG','2019-05-11T11:48 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-09 00:00:00','BARGELDAUSZAHLUNG','2019-05-09T21:36 Debitk.5 2021-12 ','SB.CENTER//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-08 00:00:00','2019-05-07 00:00:00','BARGELDAUSZAHLUNG','2019-05-07T16:14 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-07 00:00:00','2019-05-06 00:00:00','BARGELDAUSZAHLUNG','2019-05-06T18:32 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-40.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','150.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-31.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-19.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-72.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','150.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-67.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11988.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-315.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-268.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-1899.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-7190.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','140606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-43612.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','70000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-9619.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-13 00:00:00','2019-05-11 00:00:00','BARGELDAUSZAHLUNG','2019-05-11T11:48 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-2640.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-09 00:00:00','BARGELDAUSZAHLUNG','2019-05-09T21:36 Debitk.5 2021-12 ','SB.CENTER//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-08 00:00:00','2019-05-07 00:00:00','BARGELDAUSZAHLUNG','2019-05-07T16:14 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 06/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-424100 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-67.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','2486.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-98.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-106.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-58.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-20 00:00:00','FOLGELASTSCHRIFT','D01-4107087-2354224 Prime Video 3X3483E1B3U669TY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T18:09 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T12:20 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-17.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-20.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-45.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-120.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-07 00:00:00','2019-05-06 00:00:00','BARGELDAUSZAHLUNG','2019-05-06T18:32 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-05-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-273596 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','300419 14780323 610971995391 SIEMENS CASINO CARD MARZ 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5420.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 04-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','KARTENZAHLUNG','2019-04-28T00:17 Debitk.5 2021-12 ','LA PASSION ERLANGEN//ERLANGEN/DE','DE42763600330001569457','-2000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201904/HR ','Siemens AG','DE90700500000002055382','2450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28669784000651/15.04.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 04/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-26 00:00:00','2019-04-25 00:00:00','BARGELDAUSZAHLUNG','2019-04-25T18:33 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-25 00:00:00','2019-04-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-70864.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','SEPA-ELV-LASTSCHRIFT','200412595154894211253757690 ELV65375769 20.04 12.59 ME5 ','BUCHHANDLUNG RUPPRECHT','DE96753631890200422207','-2310.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-23 00:00:00','2019-04-20 00:00:00','BARGELDAUSZAHLUNG','2019-04-20T13:07 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-15 00:00:00','BARGELDAUSZAHLUNG','2019-04-15T18:14 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-16 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000046865 vom 09.04.2019, Rechnung, ZahlB 1301118484 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-14 00:00:00','BARGELDAUSZAHLUNG','2019-04-14T19:42 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06604389034 Monat 03/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-09 00:00:00','2019-04-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-05T18:09 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-847.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-06T20:15 Debitk.5 2021-12 ','IRISH CASTLE PUB GIR 79973149//NUERNBERG/DE','DE19300500000001458710','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28221793000651/12.12.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','KARTENZAHLUNG','2018-12-17T16:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','GUTSCHR. UEBERWEISUNG','Geschenk Anja ','ELAINE FERNANDEZ','DE46763500000044116613','2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-17 00:00:00','2018-12-17 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05203926737 Monat 11/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','BARGELDAUSZAHLUNG','2018-12-14T12:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000028421 vom 07.12.2018, Rechnung, ZahlB 1304003133 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-11 00:00:00','2018-12-11 00:00:00','WERTPAPIERE','0216201814 DEKABANK DEPOT DEPOTPREIS 2018 12,50 ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE27500509990000515684','-1250.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-11 00:00:00','2018-12-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-10 00:00:00','2018-12-10 00:00:00','BARGELDAUSZAHLUNG','2018-12-10T10:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-10 00:00:00','2018-12-07 00:00:00','BARGELDAUSZAHLUNG','2018-12-07T17:51 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-04 00:00:00','2018-12-04 00:00:00','GUTSCHR. UEBERWEISUNG','oma handy ','ELAINE FERNANDEZ','DE46763500000044116613','4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-03 00:00:00','2018-12-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-03 00:00:00','2018-12-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-12-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . OTTO GMBH, Ihr Einkauf bei OTTO GMBH ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-3972.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-800112 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','301118 14352388 610971995391 SIEMENS CASINO CARD OKTOBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-6439.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 11-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201811/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','KARTENZAHLUNG','2018-11-27T17:07 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 11/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28108222000651/14.11.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-23 00:00:00','2018-11-23 00:00:00','GUTSCHR. UEBERWEISUNG','Geld für jan ALIEN ','ELAINE FERNANDEZ','DE46763500000044116613','3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-22 00:00:00','2018-11-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-69843.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-20 00:00:00','2018-11-20 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck, mal wieder DATUM 19.11.2018, 21.45 UHR1.TAN 720605 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-16 00:00:00','2018-11-16 00:00:00','BARGELDAUSZAHLUNG','2018-11-16T12:04:37 Karte5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','KARTENZAHLUNG','2018-11-14T17:29:42 Karte5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 03804115746 Monat 10/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000024313 vom 08.11.2018, Rechnung, ZahlB 1303630398 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-04 00:00:00','2019-04-04 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck DATUM 04.04.2019, 09.32 UHR1.TAN 556059 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-02 00:00:00','2019-04-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','FOLGELASTSCHRIFT','300319 14698260 610971995391 SIEMENS CASINO CARD FEBRUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3998.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-04-01 00:00:00','ABSCHLUSS','Abrechnung 29.03.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-30 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-199205 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 03-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201903/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 03/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-27 00:00:00','2019-03-27 00:00:00','KARTENZAHLUNG','2019-03-26T14:58 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28558583000651/13.03.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-21 00:00:00','BARGELDAUSZAHLUNG','2019-03-21T17:16 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-25333.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-20 00:00:00','ONLINE-UEBERWEISUNG','Karte - Danke :) DATUM 20.03.2019, 19.10 UHR1.TAN 281280 ','Rene Bedemann','DE80760100850365803856','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-19 00:00:00','BARGELDAUSZAHLUNG','2019-03-19T17:29 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-18 00:00:00','2019-03-18 00:00:00','FOLGELASTSCHRIFT','Reise-VSNR 783299846 14.03.2019 ','HANSEMERKUR VERS.','DE41200300000000223842','-990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-15 00:00:00','2019-03-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05204061749 Monat 02/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-14 00:00:00','2019-03-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000042174 vom 07.03.2019, Rechnung, ZahlB 1300744806 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . 23ANDME INC, Ihr Einkauf bei 23ANDME INC ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11473.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-04 00:00:00','2019-03-04 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-01 00:00:00','2019-03-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-125257 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 02/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 02-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','280219 14615716 610971995391 SIEMENS CASINO CARD JANUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3428.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-27 00:00:00','2019-02-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201902/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-26 00:00:00','2019-02-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28447008000651/14.02.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-22 00:00:00','BARGELDAUSZAHLUNG','2019-02-22T19:17 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-21 00:00:00','BARGELDAUSZAHLUNG','2019-02-21T16:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-33112.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-21 00:00:00','2019-02-21 00:00:00','KARTENZAHLUNG','2019-02-20T17:15 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06904310977 Monat 01/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000037522 vom 06.02.2019, Rechnung, ZahlB 1300373897 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-14 00:00:00','2019-02-13 00:00:00','BARGELDAUSZAHLUNG','2019-02-13T17:39 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-12 00:00:00','2019-02-12 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-182.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-11 00:00:00','2019-02-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-04 00:00:00','2019-02-04 00:00:00','ONLINE-UEBERWEISUNG','21588259 Deinhard, Jan-Lucas DATUM 04.02.2019, 13.55 UHR1.TAN 584860 ','Staatsoberkasse Landshut','DE28700500003201190315','-11600.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-21 00:00:00','KARTENZAHLUNG','2019-01-18T15:04 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-19 00:00:00','BARGELDAUSZAHLUNG','2019-01-19T12:47 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','BARGELDAUSZAHLUNG','2019-01-17T12:07 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','KARTENZAHLUNG','2019-01-16T16:48 Debitk.5 2021-12 ','NORMA SAGT DANKE//Erlangen/DE','DE57300500000001231919','-5214.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000032920 vom 10.01.2019, Rechnung, ZahlB 1300002730 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-15 00:00:00','2019-01-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 07504092437 Monat 12/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-11 00:00:00','2019-01-10 00:00:00','BARGELDAUSZAHLUNG','2019-01-10T16:52 Debitk.5 2021-12 ','KOENIGSTOR//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','KARTENZAHLUNG','2019-01-08T16:38 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2650.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','BARGELDAUSZAHLUNG','2019-01-02T12:47 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2018-12-31 00:00:00','FOLGELASTSCHRIFT','301218 14459120 610971995391 SIEMENS CASINO CARD NOVEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5466.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2019-01-01 00:00:00','ABSCHLUSS','Abrechnung 28.12.2018 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 12/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-877329 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 12-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . , Ihr Einkauf bei , Artikel-283278628430 ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2050.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201812/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-47048.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11988.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-315.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-268.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-1899.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-7190.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','140606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-43612.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','70000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-9619.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-13 00:00:00','2019-05-11 00:00:00','BARGELDAUSZAHLUNG','2019-05-11T11:48 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-2640.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-09 00:00:00','BARGELDAUSZAHLUNG','2019-05-09T21:36 Debitk.5 2021-12 ','SB.CENTER//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-08 00:00:00','2019-05-07 00:00:00','BARGELDAUSZAHLUNG','2019-05-07T16:14 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-07 00:00:00','2019-05-06 00:00:00','BARGELDAUSZAHLUNG','2019-05-06T18:32 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-05-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-273596 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','300419 14780323 610971995391 SIEMENS CASINO CARD MARZ 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5420.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 04-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','KARTENZAHLUNG','2019-04-28T00:17 Debitk.5 2021-12 ','LA PASSION ERLANGEN//ERLANGEN/DE','DE42763600330001569457','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201904/HR ','Siemens AG','DE90700500000002055382','2450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28669784000651/15.04.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 04/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-26 00:00:00','2019-04-25 00:00:00','BARGELDAUSZAHLUNG','2019-04-25T18:33 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-25 00:00:00','2019-04-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-70864.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','SEPA-ELV-LASTSCHRIFT','200412595154894211253757690 ELV65375769 20.04 12.59 ME5 ','BUCHHANDLUNG RUPPRECHT','DE96753631890200422207','-2310.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-23 00:00:00','2019-04-20 00:00:00','BARGELDAUSZAHLUNG','2019-04-20T13:07 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-15 00:00:00','BARGELDAUSZAHLUNG','2019-04-15T18:14 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-16 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000046865 vom 09.04.2019, Rechnung, ZahlB 1301118484 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-14 00:00:00','BARGELDAUSZAHLUNG','2019-04-14T19:42 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06604389034 Monat 03/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-09 00:00:00','2019-04-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-05T18:09 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-847.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-06T20:15 Debitk.5 2021-12 ','IRISH CASTLE PUB GIR 79973149//NUERNBERG/DE','DE19300500000001458710','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-04 00:00:00','2019-04-04 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck DATUM 04.04.2019, 09.32 UHR1.TAN 556059 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-02 00:00:00','2019-04-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','FOLGELASTSCHRIFT','300319 14698260 610971995391 SIEMENS CASINO CARD FEBRUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3998.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-04-01 00:00:00','ABSCHLUSS','Abrechnung 29.03.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-30 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-199205 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 03-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201903/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 03/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-27 00:00:00','2019-03-27 00:00:00','KARTENZAHLUNG','2019-03-26T14:58 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28558583000651/13.03.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-21 00:00:00','BARGELDAUSZAHLUNG','2019-03-21T17:16 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-25333.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-20 00:00:00','ONLINE-UEBERWEISUNG','Karte - Danke :) DATUM 20.03.2019, 19.10 UHR1.TAN 281280 ','Rene Bedemann','DE80760100850365803856','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-19 00:00:00','BARGELDAUSZAHLUNG','2019-03-19T17:29 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-18 00:00:00','2019-03-18 00:00:00','FOLGELASTSCHRIFT','Reise-VSNR 783299846 14.03.2019 ','HANSEMERKUR VERS.','DE41200300000000223842','-990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-15 00:00:00','2019-03-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05204061749 Monat 02/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-14 00:00:00','2019-03-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000042174 vom 07.03.2019, Rechnung, ZahlB 1300744806 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . 23ANDME INC, Ihr Einkauf bei 23ANDME INC ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11473.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-04 00:00:00','2019-03-04 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-01 00:00:00','2019-03-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-125257 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 02/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 02-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','280219 14615716 610971995391 SIEMENS CASINO CARD JANUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3428.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-27 00:00:00','2019-02-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201902/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-26 00:00:00','2019-02-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28447008000651/14.02.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-22 00:00:00','BARGELDAUSZAHLUNG','2019-02-22T19:17 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-21 00:00:00','BARGELDAUSZAHLUNG','2019-02-21T16:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-33112.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-21 00:00:00','2019-02-21 00:00:00','KARTENZAHLUNG','2019-02-20T17:15 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06904310977 Monat 01/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000037522 vom 06.02.2019, Rechnung, ZahlB 1300373897 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-14 00:00:00','2019-02-13 00:00:00','BARGELDAUSZAHLUNG','2019-02-13T17:39 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-12 00:00:00','2019-02-12 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-182.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-11 00:00:00','2019-02-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-04 00:00:00','2019-02-04 00:00:00','ONLINE-UEBERWEISUNG','21588259 Deinhard, Jan-Lucas DATUM 04.02.2019, 13.55 UHR1.TAN 584860 ','Staatsoberkasse Landshut','DE28700500003201190315','-11600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-21 00:00:00','KARTENZAHLUNG','2019-01-18T15:04 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-19 00:00:00','BARGELDAUSZAHLUNG','2019-01-19T12:47 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','BARGELDAUSZAHLUNG','2019-01-17T12:07 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','KARTENZAHLUNG','2019-01-16T16:48 Debitk.5 2021-12 ','NORMA SAGT DANKE//Erlangen/DE','DE57300500000001231919','-5214.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000032920 vom 10.01.2019, Rechnung, ZahlB 1300002730 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-15 00:00:00','2019-01-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 07504092437 Monat 12/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-11 00:00:00','2019-01-10 00:00:00','BARGELDAUSZAHLUNG','2019-01-10T16:52 Debitk.5 2021-12 ','KOENIGSTOR//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','KARTENZAHLUNG','2019-01-08T16:38 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2650.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','BARGELDAUSZAHLUNG','2019-01-02T12:47 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2018-12-31 00:00:00','FOLGELASTSCHRIFT','301218 14459120 610971995391 SIEMENS CASINO CARD NOVEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5466.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2019-01-01 00:00:00','ABSCHLUSS','Abrechnung 28.12.2018 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 12/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-877329 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 12-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . , Ihr Einkauf bei , Artikel-283278628430 ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2050.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201812/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-47048.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28221793000651/12.12.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','KARTENZAHLUNG','2018-12-17T16:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','GUTSCHR. UEBERWEISUNG','Geschenk Anja ','ELAINE FERNANDEZ','DE46763500000044116613','2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-17 00:00:00','2018-12-17 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05203926737 Monat 11/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','BARGELDAUSZAHLUNG','2018-12-14T12:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000028421 vom 07.12.2018, Rechnung, ZahlB 1304003133 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-14 00:00:00','2019-11-14 00:00:00','FOLGELASTSCHRIFT','D01-2511092-5749409 Prime Video 4B2BRHMH4UTQ26RW ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-3499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-09 00:00:00','BARGELDAUSZAHLUNG','2019-11-09T23:11 11923Debitk.5 202 ','SBCEN//SPARKASSE NUERNBERG/DE','DE82760501019000481409','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-66.89','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-09 00:00:00','BARGELDAUSZAHLUNG','2019-11-09T15:06 11915Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-11 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 09/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-07 00:00:00','2019-11-07 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238914) VOM 03.11.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . WITHLOCALSB, Ihr Einkauf bei WITHLOCALSB ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9713.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-9857499-0834213 Prime Video 5CKWDBBO9I2PPI30 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','306-0229897-4217115 Amazon.de UROQFS0CLRSHEP7X ','AMAZON EU S.A R.L., NIEDERLASSUNG DEUTSCHLAND','DE93300308800013441006','-777.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-21.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5190647-7893445 Prime Video 2QYXH23613PJOOZI ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-8.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5740740-8939840 Prime Video 5V06V2CNFVR77AS1 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-04 00:00:00','AUSZAHL. MIT KUNDENENTGELT','2019-11-03T07:13 11907Debitk.5 2021-12 Fremdentgelt 5,50 ','F-FH VIII/Hugo-Eckener-Ring/Frankfurt am Main/DE','DE66500600000000091296','-10550.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-245.86','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','FOLGELASTSCHRIFT','D01-2574298-5429459 Prime Video 4PKL95DGPR7CRMLO ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','ERSTLASTSCHRIFT','61910256959576 KV00100892198 11/19 ','ARAG KRANKENVERSICHERUNG-AG','DE44700800000564460402','-1083.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-11-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-5.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-729025 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1.87','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 10-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','KARTENZAHLUNG','2019-10-29T21:24 01921Debitk.5 202 ','Pizzeria Mamma Mia//Erlangen/DE','DE86300500000001052141','-3300.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201910/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-29 00:00:00','2019-10-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','D01-9000112-3563800 Prime Video 7IJ3EQTUANPWV147 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29334259000651/16.10.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-51.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-25 00:00:00','2019-10-24 00:00:00','BARGELDAUSZAHLUNG','2019-10-24T18:21 01918Debitk.5 202 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-23.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-24 00:00:00','2019-10-24 00:00:00','KARTENZAHLUNG','2019-10-23T21:31 01921Debitk.5 202 ','CAFE KRAFT GMBH, NUERNBERG//NUERNBERG/DE','DE50370100500555654504','-270.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34294.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','FOLGELASTSCHRIFT','D01-1760169-5893406 Prime Video D01IFXAETOXP1KSS ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.29','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','BARGELDAUSZAHLUNG','2019-10-21T12:39 01912Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','ERSTLASTSCHRIFT','D-Nr M501545176, /INV/201909395545 vom 14.10.2019, TELEFONIE September 2019, ZahlB 1303616140 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2989.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-16 00:00:00','2019-10-16 00:00:00','FOLGELASTSCHRIFT','D01-0389268-1266266 Prime Video 6R20YADL3I0Y25Q3 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29113194000651/16.08.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-14 00:00:00','2019-10-14 00:00:00','FOLGELASTSCHRIFT','Haftpflicht Online 56000027373 ERSTBTR 10/19 53,89 EUR ','AXA Versicherung Aktiengesellschaft','DE04300500000000444166','-5389.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-08 00:00:00','BARGELDAUSZAHLUNG','2019-10-08T19:24 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-27 00:00:00','2019-08-27 00:00:00','FOLGELASTSCHRIFT','D01-6278352-4568626 Prime Video 1R29MPD0NUAZ417C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','D01-0033970-2962258 Prime Video 6AGR71FD6DDSE40B ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238913) VOM 03.10.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-25.32','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','D01-1292806-4498208 Prime Video MKVO1KBGEOCR4E18 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-62.37','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . IMMOBILIENS, Ihr Einkauf bei IMMOBILIENS ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2995.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-344.58','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','D01-1512087-3762214 Prime Video 20OM9Q6GJR4TAVEU ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T23:58 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-21 00:00:00','2019-08-21 00:00:00','KARTENZAHLUNG','2019-08-20T16:38 Debitk.5 2021-12 ','Kaufland Erlangen//Erlangen/DE','DE25600501010004001050','-23.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T20:39 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-07 00:00:00','FOLGELASTSCHRIFT','D01-4177679-3442250 Prime Video 351XYRPSQWVCLAWV ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-249.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-8.66','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-6689.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-11.95','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-656666 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-58.1','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-819.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','60.62','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-13.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-24586.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-13.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-561.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-187.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-80.62','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-06 00:00:00','2019-09-06 00:00:00','BARGELDAUSZAHLUNG','2019-09-06T12:29 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-626.33','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-04 00:00:00','2019-09-04 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238912) VOM 03.09.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-2398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-10.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6017.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-30.64','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2532.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34458.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 06/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-97.92','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-106.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-58.02','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-866.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-1195.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-20 00:00:00','FOLGELASTSCHRIFT','D01-4107087-2354224 Prime Video 3X3483E1B3U669TY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-0.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-24.82','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-5810.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','6062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-16.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-44.89','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-4.7','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-8062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-119.88','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-3.15','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-26 00:00:00','2019-07-25 00:00:00','BARGELDAUSZAHLUNG','2019-07-25T16:46 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-2.68','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-62633.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-18.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-19 00:00:00','2019-07-19 00:00:00','BARGELDAUSZAHLUNG','2019-07-19T11:58 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1099.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','BARGELDAUSZAHLUNG','2019-07-11T12:35 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-71.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-54.91','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.06','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-436.12','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-96.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5802.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.4','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T12:20 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-14 00:00:00','2019-11-14 00:00:00','FOLGELASTSCHRIFT','D01-2511092-5749409 Prime Video 4B2BRHMH4UTQ26RW ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-3499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-09 00:00:00','BARGELDAUSZAHLUNG','2019-11-09T23:11 11923Debitk.5 202 ','SBCEN//SPARKASSE NUERNBERG/DE','DE82760501019000481409','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-66.89','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-09 00:00:00','BARGELDAUSZAHLUNG','2019-11-09T15:06 11915Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-11 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 09/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-07 00:00:00','2019-11-07 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238914) VOM 03.11.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . WITHLOCALSB, Ihr Einkauf bei WITHLOCALSB ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9713.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-9857499-0834213 Prime Video 5CKWDBBO9I2PPI30 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','306-0229897-4217115 Amazon.de UROQFS0CLRSHEP7X ','AMAZON EU S.A R.L., NIEDERLASSUNG DEUTSCHLAND','DE93300308800013441006','-777.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-21.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5190647-7893445 Prime Video 2QYXH23613PJOOZI ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-8.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5740740-8939840 Prime Video 5V06V2CNFVR77AS1 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-04 00:00:00','AUSZAHL. MIT KUNDENENTGELT','2019-11-03T07:13 11907Debitk.5 2021-12 Fremdentgelt 5,50 ','F-FH VIII/Hugo-Eckener-Ring/Frankfurt am Main/DE','DE66500600000000091296','-10550.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-245.86','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','FOLGELASTSCHRIFT','D01-2574298-5429459 Prime Video 4PKL95DGPR7CRMLO ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','ERSTLASTSCHRIFT','61910256959576 KV00100892198 11/19 ','ARAG KRANKENVERSICHERUNG-AG','DE44700800000564460402','-1083.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-11-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-5.61','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-729025 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1.87','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 10-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','KARTENZAHLUNG','2019-10-29T21:24 01921Debitk.5 202 ','Pizzeria Mamma Mia//Erlangen/DE','DE86300500000001052141','-3300.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201910/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-29 00:00:00','2019-10-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','D01-9000112-3563800 Prime Video 7IJ3EQTUANPWV147 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29334259000651/16.10.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-51.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-25 00:00:00','2019-10-24 00:00:00','BARGELDAUSZAHLUNG','2019-10-24T18:21 01918Debitk.5 202 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-23.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-24 00:00:00','2019-10-24 00:00:00','KARTENZAHLUNG','2019-10-23T21:31 01921Debitk.5 202 ','CAFE KRAFT GMBH, NUERNBERG//NUERNBERG/DE','DE50370100500555654504','-270.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34294.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','FOLGELASTSCHRIFT','D01-1760169-5893406 Prime Video D01IFXAETOXP1KSS ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.29','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','BARGELDAUSZAHLUNG','2019-10-21T12:39 01912Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','ERSTLASTSCHRIFT','D-Nr M501545176, /INV/201909395545 vom 14.10.2019, TELEFONIE September 2019, ZahlB 1303616140 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2989.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-16 00:00:00','2019-10-16 00:00:00','FOLGELASTSCHRIFT','D01-0389268-1266266 Prime Video 6R20YADL3I0Y25Q3 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29113194000651/16.08.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-14 00:00:00','2019-10-14 00:00:00','FOLGELASTSCHRIFT','Haftpflicht Online 56000027373 ERSTBTR 10/19 53,89 EUR ','AXA Versicherung Aktiengesellschaft','DE04300500000000444166','-5389.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-08 00:00:00','BARGELDAUSZAHLUNG','2019-10-08T19:24 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-27 00:00:00','2019-08-27 00:00:00','FOLGELASTSCHRIFT','D01-6278352-4568626 Prime Video 1R29MPD0NUAZ417C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','D01-0033970-2962258 Prime Video 6AGR71FD6DDSE40B ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238913) VOM 03.10.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-25.32','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','D01-1292806-4498208 Prime Video MKVO1KBGEOCR4E18 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-62.37','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . IMMOBILIENS, Ihr Einkauf bei IMMOBILIENS ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2995.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-344.58','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','D01-1512087-3762214 Prime Video 20OM9Q6GJR4TAVEU ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T23:58 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-21 00:00:00','2019-08-21 00:00:00','KARTENZAHLUNG','2019-08-20T16:38 Debitk.5 2021-12 ','Kaufland Erlangen//Erlangen/DE','DE25600501010004001050','-23.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T20:39 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-07 00:00:00','FOLGELASTSCHRIFT','D01-4177679-3442250 Prime Video 351XYRPSQWVCLAWV ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-249.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-8.66','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-6689.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-11.95','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-656666 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-58.1','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-819.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','60.62','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-13.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-24586.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-13.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-561.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-187.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-80.62','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-06 00:00:00','2019-09-06 00:00:00','BARGELDAUSZAHLUNG','2019-09-06T12:29 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-626.33','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-04 00:00:00','2019-09-04 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238912) VOM 03.09.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-2398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-10.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6017.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-30.64','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2532.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34458.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 06/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-97.92','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-106.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-58.02','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-866.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-1195.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-20 00:00:00','FOLGELASTSCHRIFT','D01-4107087-2354224 Prime Video 3X3483E1B3U669TY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-0.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-24.82','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-5810.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','6062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-16.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-44.89','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-4.7','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-8062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-119.88','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-3.15','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-26 00:00:00','2019-07-25 00:00:00','BARGELDAUSZAHLUNG','2019-07-25T16:46 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-2.68','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-62633.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-18.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-19 00:00:00','2019-07-19 00:00:00','BARGELDAUSZAHLUNG','2019-07-19T11:58 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1099.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','BARGELDAUSZAHLUNG','2019-07-11T12:35 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-71.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-54.91','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.06','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-436.12','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-96.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5802.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.4','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T12:20 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11988.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-315.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-268.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-1899.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-7190.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','140606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-43612.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','70000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-9619.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-13 00:00:00','2019-05-11 00:00:00','BARGELDAUSZAHLUNG','2019-05-11T11:48 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-2640.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-09 00:00:00','BARGELDAUSZAHLUNG','2019-05-09T21:36 Debitk.5 2021-12 ','SB.CENTER//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-08 00:00:00','2019-05-07 00:00:00','BARGELDAUSZAHLUNG','2019-05-07T16:14 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-07 00:00:00','2019-05-06 00:00:00','BARGELDAUSZAHLUNG','2019-05-06T18:32 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-05-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-273596 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','300419 14780323 610971995391 SIEMENS CASINO CARD MARZ 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5420.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 04-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','KARTENZAHLUNG','2019-04-28T00:17 Debitk.5 2021-12 ','LA PASSION ERLANGEN//ERLANGEN/DE','DE42763600330001569457','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201904/HR ','Siemens AG','DE90700500000002055382','2450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28669784000651/15.04.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 04/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-26 00:00:00','2019-04-25 00:00:00','BARGELDAUSZAHLUNG','2019-04-25T18:33 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-25 00:00:00','2019-04-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-70864.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','SEPA-ELV-LASTSCHRIFT','200412595154894211253757690 ELV65375769 20.04 12.59 ME5 ','BUCHHANDLUNG RUPPRECHT','DE96753631890200422207','-2310.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-23 00:00:00','2019-04-20 00:00:00','BARGELDAUSZAHLUNG','2019-04-20T13:07 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-15 00:00:00','BARGELDAUSZAHLUNG','2019-04-15T18:14 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-16 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000046865 vom 09.04.2019, Rechnung, ZahlB 1301118484 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-14 00:00:00','BARGELDAUSZAHLUNG','2019-04-14T19:42 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06604389034 Monat 03/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-09 00:00:00','2019-04-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-05T18:09 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-847.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-06T20:15 Debitk.5 2021-12 ','IRISH CASTLE PUB GIR 79973149//NUERNBERG/DE','DE19300500000001458710','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-04 00:00:00','2019-04-04 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck DATUM 04.04.2019, 09.32 UHR1.TAN 556059 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-02 00:00:00','2019-04-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','FOLGELASTSCHRIFT','300319 14698260 610971995391 SIEMENS CASINO CARD FEBRUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3998.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-04-01 00:00:00','ABSCHLUSS','Abrechnung 29.03.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-30 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-199205 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 03-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201903/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 03/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-27 00:00:00','2019-03-27 00:00:00','KARTENZAHLUNG','2019-03-26T14:58 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28558583000651/13.03.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-21 00:00:00','BARGELDAUSZAHLUNG','2019-03-21T17:16 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-25333.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-20 00:00:00','ONLINE-UEBERWEISUNG','Karte - Danke :) DATUM 20.03.2019, 19.10 UHR1.TAN 281280 ','Rene Bedemann','DE80760100850365803856','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-19 00:00:00','BARGELDAUSZAHLUNG','2019-03-19T17:29 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3500.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-18 00:00:00','2019-03-18 00:00:00','FOLGELASTSCHRIFT','Reise-VSNR 783299846 14.03.2019 ','HANSEMERKUR VERS.','DE41200300000000223842','-990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-15 00:00:00','2019-03-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05204061749 Monat 02/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-14 00:00:00','2019-03-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000042174 vom 07.03.2019, Rechnung, ZahlB 1300744806 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . 23ANDME INC, Ihr Einkauf bei 23ANDME INC ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11473.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-04 00:00:00','2019-03-04 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-01 00:00:00','2019-03-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-125257 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 02/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 02-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','280219 14615716 610971995391 SIEMENS CASINO CARD JANUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3428.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-27 00:00:00','2019-02-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201902/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-26 00:00:00','2019-02-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28447008000651/14.02.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-22 00:00:00','BARGELDAUSZAHLUNG','2019-02-22T19:17 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-21 00:00:00','BARGELDAUSZAHLUNG','2019-02-21T16:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-33112.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-21 00:00:00','2019-02-21 00:00:00','KARTENZAHLUNG','2019-02-20T17:15 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06904310977 Monat 01/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000037522 vom 06.02.2019, Rechnung, ZahlB 1300373897 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-14 00:00:00','2019-02-13 00:00:00','BARGELDAUSZAHLUNG','2019-02-13T17:39 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-12 00:00:00','2019-02-12 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-182.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-11 00:00:00','2019-02-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-04 00:00:00','2019-02-04 00:00:00','ONLINE-UEBERWEISUNG','21588259 Deinhard, Jan-Lucas DATUM 04.02.2019, 13.55 UHR1.TAN 584860 ','Staatsoberkasse Landshut','DE28700500003201190315','-11600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-21 00:00:00','KARTENZAHLUNG','2019-01-18T15:04 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-19 00:00:00','BARGELDAUSZAHLUNG','2019-01-19T12:47 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','BARGELDAUSZAHLUNG','2019-01-17T12:07 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','KARTENZAHLUNG','2019-01-16T16:48 Debitk.5 2021-12 ','NORMA SAGT DANKE//Erlangen/DE','DE57300500000001231919','-5214.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000032920 vom 10.01.2019, Rechnung, ZahlB 1300002730 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-15 00:00:00','2019-01-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 07504092437 Monat 12/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-11 00:00:00','2019-01-10 00:00:00','BARGELDAUSZAHLUNG','2019-01-10T16:52 Debitk.5 2021-12 ','KOENIGSTOR//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','KARTENZAHLUNG','2019-01-08T16:38 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2650.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','BARGELDAUSZAHLUNG','2019-01-02T12:47 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2018-12-31 00:00:00','FOLGELASTSCHRIFT','301218 14459120 610971995391 SIEMENS CASINO CARD NOVEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5466.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2019-01-01 00:00:00','ABSCHLUSS','Abrechnung 28.12.2018 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 12/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-877329 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 12-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . , Ihr Einkauf bei , Artikel-283278628430 ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2050.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201812/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-47048.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28221793000651/12.12.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','KARTENZAHLUNG','2018-12-17T16:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','GUTSCHR. UEBERWEISUNG','Geschenk Anja ','ELAINE FERNANDEZ','DE46763500000044116613','2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-17 00:00:00','2018-12-17 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05203926737 Monat 11/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','BARGELDAUSZAHLUNG','2018-12-14T12:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000028421 vom 07.12.2018, Rechnung, ZahlB 1304003133 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-11 00:00:00','2018-12-11 00:00:00','WERTPAPIERE','0216201814 DEKABANK DEPOT DEPOTPREIS 2018 12,50 ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE27500509990000515684','-1250.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-11 00:00:00','2018-12-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-10 00:00:00','2018-12-10 00:00:00','BARGELDAUSZAHLUNG','2018-12-10T10:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-10 00:00:00','2018-12-07 00:00:00','BARGELDAUSZAHLUNG','2018-12-07T17:51 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-04 00:00:00','2018-12-04 00:00:00','GUTSCHR. UEBERWEISUNG','oma handy ','ELAINE FERNANDEZ','DE46763500000044116613','4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-03 00:00:00','2018-12-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-03 00:00:00','2018-12-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-12-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . OTTO GMBH, Ihr Einkauf bei OTTO GMBH ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-3972.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-800112 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','301118 14352388 610971995391 SIEMENS CASINO CARD OKTOBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-6439.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 11-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201811/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','KARTENZAHLUNG','2018-11-27T17:07 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 11/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28108222000651/14.11.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-23 00:00:00','2018-11-23 00:00:00','GUTSCHR. UEBERWEISUNG','Geld für jan ALIEN ','ELAINE FERNANDEZ','DE46763500000044116613','3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-22 00:00:00','2018-11-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-69843.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-20 00:00:00','2018-11-20 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck, mal wieder DATUM 19.11.2018, 21.45 UHR1.TAN 720605 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-16 00:00:00','2018-11-16 00:00:00','BARGELDAUSZAHLUNG','2018-11-16T12:04:37 Karte5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','KARTENZAHLUNG','2018-11-14T17:29:42 Karte5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 03804115746 Monat 10/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000024313 vom 08.11.2018, Rechnung, ZahlB 1303630398 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')

In [33]:
newdatapath = '..\\..\\..\\TF_data\\ADMIN\\01\\'
dbpath = '..\\..\\..\\..\\banking.accdb'
# Read new input
bf,df,af = read_newdata(newdatapath)
# Read existing databases
STR = read_STR(dbpath)
TRI = read_TRI(dbpath)
# Detect existing entries
matches = DF_STR_find_matches(df,STR)
# Select new data
new_data = df.loc[matches[matches['STR index']<0].index]
new_data['SCA_id'] = 'None'
# Select new added information
new_added_information = af.loc[matches[matches['STR index']<0].index]
# Make new files
STR_new = pd.concat([STR,new_data],sort=False).reset_index(drop=True)
TRI_new = pd.concat([TRI,new_added_information],sort=False).reset_index(drop=True)
# Connect to Access DB
conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ='+dbpath+';')
# Modify DB STR table
pandas_to_access_clean_write(conn,STR_new,'STR',verbose=True)
# Modify DB TRI table
pandas_to_access_clean_write(conn,TRI_new,'TRINFORMATION')
# Close connection
conn.close()

[[10, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [538, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [603, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[11, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [540, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [605, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[14, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [514, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [611, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[17, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [520, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [760, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[20, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [526, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [766, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[23, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [530, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [770, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[24, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [532, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [772, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[25, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [615, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [774, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[41, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [637, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [796, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[46, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [645, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [804, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[48, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [649, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [808, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[56, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [659, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [818, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[58, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [661, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [820, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[62, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [665, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [824, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[64, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [669, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [828, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[66, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [671, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [830, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[76, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [687, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [846, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[79, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [691, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [850, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[80, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [693, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [852, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[81, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [695, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [854, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[86, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [703, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [862, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[88, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [705, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [864, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[111, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [709, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [868, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[175, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [574, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [947, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[184, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [725, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [884, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[185, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [727, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [886, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[186, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [729, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [888, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[188, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [733, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [892, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[194, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [741, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [900, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[199, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [749, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [908, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[201, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [753, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [912, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[204, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [545, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [918, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[205, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [547, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [920, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[114, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [553, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [926, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[116, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [557, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [930, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[118, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [559, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [932, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[119, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [561, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [934, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[120, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [563, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [936, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[126, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [569, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [942, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[103, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [587, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [960, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[10, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [538, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [603, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[11, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [540, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [605, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[14, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [514, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [611, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[17, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [520, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [760, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[20, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [526, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [766, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[23, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [530, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [770, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[24, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [532, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [772, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[25, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [615, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [774, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[41, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [637, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [796, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]

[[46, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [645, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [804, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[48, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [649, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [808, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[56, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [659, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [818, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[58, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [661, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [820, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[62, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [665, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [824, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[64, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [669, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [828, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[66, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [671, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [830, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[76, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [687, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [846, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[79, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [691, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [850, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[80, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [693, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [852, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[81, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [695, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [854, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[86, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [703, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [862, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[88, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [705, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [864, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[111, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [709, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [868, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[175, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [574, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [947, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[184, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [725, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [884, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[185, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [727, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [886, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[186, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [729, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [888, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[188, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [733, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [892, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[194, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [741, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [900, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[199, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [749, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [908, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[201, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [753, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [912, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[204, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [545, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [918, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[205, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [547, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [920, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[114, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [553, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [926, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[116, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [557, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [930, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[118, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [559, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [932, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[119, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [561, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [934, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[120, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [563, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [936, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[126, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [569, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [942, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[103, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [587, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]], [960, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.009999999999999787]]]
[[505, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [592, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[507, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [594, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[509, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [596, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[533, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [598, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[535, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [600, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[537, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [602, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[539, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [604, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[541, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [606, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[511, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [608, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[513, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [610, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[515, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [612, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[517, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [757, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[519, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [759, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[521, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [761, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[523, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [763, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[525, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [765, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[527, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [767, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[529, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [769, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[531, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [771, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[614, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [773, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[616, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [775, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[618, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [777, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[620, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [779, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[622, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [781, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[624, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [783, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[626, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [785, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[628, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [787, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[630, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [789, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[632, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [791, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[634, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [793, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[636, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [795, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[638, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [797, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[640, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [799, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[642, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [801, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[644, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [803, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[646, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [805, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[648, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [807, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]

[[650, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [809, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[652, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [811, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[654, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [813, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[656, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [815, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[658, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [817, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[660, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [819, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[662, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [821, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[664, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [823, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[666, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [825, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[668, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [827, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[670, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [829, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[672, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [831, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[674, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [833, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[676, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [835, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[678, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [837, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[680, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [839, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[682, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [841, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[684, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [843, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[686, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [845, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[688, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [847, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[690, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [849, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[692, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [851, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[694, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [853, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[696, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [855, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[698, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [857, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[700, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [859, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[702, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [861, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[704, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [863, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[706, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [865, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[708, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [867, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[710, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [869, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[712, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [871, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[714, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [873, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[716, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [875, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[718, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [877, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[720, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [879, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[722, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [881, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[724, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [883, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[726, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [885, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[728, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [887, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[730, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [889, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[732, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [891, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[734, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [893, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[736, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [895, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[738, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [897, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[740, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [899, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[742, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [901, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[744, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [903, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[746, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [905, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[748, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [907, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[750, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [909, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[752, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [911, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[754, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [913, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[756, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [915, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[544, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [917, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[546, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [919, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[548, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [921, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[550, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [923, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[552, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [925, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[554, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [927, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[556, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [929, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[558, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [931, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[560, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [933, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[562, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [935, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[564, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [937, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[566, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [939, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[568, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [941, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[570, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [943, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[572, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [945, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[175, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [574, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [947, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[576, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [949, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[578, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [951, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[580, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [953, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[582, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [955, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[584, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [957, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[586, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [959, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[588, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [961, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[590, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [963, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[130, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [345, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [964, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[131, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [346, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [965, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[132, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [347, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [966, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[133, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [348, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [967, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[134, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [349, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [968, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[135, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [350, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [969, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[136, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [351, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [970, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[137, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [352, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [971, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[138, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [353, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [972, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[139, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [354, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [973, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[140, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [355, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [974, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[141, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [356, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [975, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[142, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [357, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [976, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[143, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [358, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [977, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[144, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [359, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [978, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[145, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [360, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [979, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]

[[146, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [361, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [980, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[147, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [362, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [981, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[148, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [363, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [982, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[149, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [364, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [983, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[150, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [365, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [984, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[151, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [366, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [985, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[152, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [367, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [986, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[153, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [368, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [987, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
[[154, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [369, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], [988, [0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]]]
INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-02 00:00:00','2019-10-01 00:00:00','BARGELDAUSZAHLUNG','2019-10-01T22:08 Debitk.5 2021-12 ','DECHSENDOR//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ABSCHLUSS','Abrechnung 30.09.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-67.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-656666 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 09/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-22.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-8.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-246.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-09 00:00:00','2019-09-07 00:00:00','BARGELDAUSZAHLUNG','2019-09-07T15:59 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-06 00:00:00','2019-09-06 00:00:00','BARGELDAUSZAHLUNG','2019-09-06T12:29 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-04 00:00:00','2019-09-04 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238912) VOM 03.09.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-52.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-24.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29113194000651/16.08.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-27 00:00:00','2019-08-27 00:00:00','FOLGELASTSCHRIFT','D01-6278352-4568626 Prime Video 1R29MPD0NUAZ417C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','D01-0033970-2962258 Prime Video 6AGR71FD6DDSE40B ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-345.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-21 00:00:00','2019-08-21 00:00:00','KARTENZAHLUNG','2019-08-20T16:38 Debitk.5 2021-12 ','Kaufland Erlangen//Erlangen/DE','DE25600501010004001050','-24.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-45.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-9.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-9.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-12.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-12 00:00:00','2019-08-12 00:00:00','GUTSCHR. UEBERWEISUNG','Essen Inder ','ELAINE FERNANDEZ','DE46763500000044116613','25.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-626.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-19 00:00:00','2019-07-19 00:00:00','BARGELDAUSZAHLUNG','2019-07-19T11:58 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-15.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-11.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','BARGELDAUSZAHLUNG','2019-07-11T12:35 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-20.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-08 00:00:00','2019-07-08 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238910) VOM 03.07.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-55.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-100.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','100.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-436.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-40.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-96.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-13 00:00:00','2019-05-11 00:00:00','BARGELDAUSZAHLUNG','2019-05-11T11:48 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-09 00:00:00','BARGELDAUSZAHLUNG','2019-05-09T21:36 Debitk.5 2021-12 ','SB.CENTER//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-08 00:00:00','2019-05-07 00:00:00','BARGELDAUSZAHLUNG','2019-05-07T16:14 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-07 00:00:00','2019-05-06 00:00:00','BARGELDAUSZAHLUNG','2019-05-06T18:32 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-40.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','150.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-31.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-19.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-69.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-72.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-50.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','150.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-67.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-235.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-17.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-20.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-45.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-120.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-07 00:00:00','2019-05-06 00:00:00','BARGELDAUSZAHLUNG','2019-05-06T18:32 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-02 00:00:00','2019-05-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-05-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-273596 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','300419 14780323 610971995391 SIEMENS CASINO CARD MARZ 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5420.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-30 00:00:00','2019-04-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 04-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','KARTENZAHLUNG','2019-04-28T00:17 Debitk.5 2021-12 ','LA PASSION ERLANGEN//ERLANGEN/DE','DE42763600330001569457','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201904/HR ','Siemens AG','DE90700500000002055382','2450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28669784000651/15.04.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-29 00:00:00','2019-04-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 04/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-26 00:00:00','2019-04-25 00:00:00','BARGELDAUSZAHLUNG','2019-04-25T18:33 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-25 00:00:00','2019-04-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-70864.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-24 00:00:00','2019-04-24 00:00:00','SEPA-ELV-LASTSCHRIFT','200412595154894211253757690 ELV65375769 20.04 12.59 ME5 ','BUCHHANDLUNG RUPPRECHT','DE96753631890200422207','-2310.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-23 00:00:00','2019-04-20 00:00:00','BARGELDAUSZAHLUNG','2019-04-20T13:07 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-15 00:00:00','BARGELDAUSZAHLUNG','2019-04-15T18:14 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-16 00:00:00','2019-04-16 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000046865 vom 09.04.2019, Rechnung, ZahlB 1301118484 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-14 00:00:00','BARGELDAUSZAHLUNG','2019-04-14T19:42 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-15 00:00:00','2019-04-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06604389034 Monat 03/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-09 00:00:00','2019-04-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-05T18:09 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-847.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-06T20:15 Debitk.5 2021-12 ','IRISH CASTLE PUB GIR 79973149//NUERNBERG/DE','DE19300500000001458710','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28221793000651/12.12.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','KARTENZAHLUNG','2018-12-17T16:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-18 00:00:00','2018-12-18 00:00:00','GUTSCHR. UEBERWEISUNG','Geschenk Anja ','ELAINE FERNANDEZ','DE46763500000044116613','2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-17 00:00:00','2018-12-17 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05203926737 Monat 11/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','BARGELDAUSZAHLUNG','2018-12-14T12:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-14 00:00:00','2018-12-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000028421 vom 07.12.2018, Rechnung, ZahlB 1304003133 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-11 00:00:00','2018-12-11 00:00:00','WERTPAPIERE','0216201814 DEKABANK DEPOT DEPOTPREIS 2018 12,50 ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE27500509990000515684','-1250.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-11 00:00:00','2018-12-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-10 00:00:00','2018-12-10 00:00:00','BARGELDAUSZAHLUNG','2018-12-10T10:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-10 00:00:00','2018-12-07 00:00:00','BARGELDAUSZAHLUNG','2018-12-07T17:51 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 11/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28108222000651/14.11.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-23 00:00:00','2018-11-23 00:00:00','GUTSCHR. UEBERWEISUNG','Geld für jan ALIEN ','ELAINE FERNANDEZ','DE46763500000044116613','3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-22 00:00:00','2018-11-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-69843.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-20 00:00:00','2018-11-20 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck, mal wieder DATUM 19.11.2018, 21.45 UHR1.TAN 720605 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-16 00:00:00','2018-11-16 00:00:00','BARGELDAUSZAHLUNG','2018-11-16T12:04:37 Karte5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','KARTENZAHLUNG','2018-11-14T17:29:42 Karte5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 03804115746 Monat 10/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000024313 vom 08.11.2018, Rechnung, ZahlB 1303630398 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-04 00:00:00','2019-04-04 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck DATUM 04.04.2019, 09.32 UHR1.TAN 556059 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-02 00:00:00','2019-04-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','FOLGELASTSCHRIFT','300319 14698260 610971995391 SIEMENS CASINO CARD FEBRUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3998.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-04 00:00:00','2018-12-04 00:00:00','GUTSCHR. UEBERWEISUNG','oma handy ','ELAINE FERNANDEZ','DE46763500000044116613','4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-03 00:00:00','2018-12-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-03 00:00:00','2018-12-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-12-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . OTTO GMBH, Ihr Einkauf bei OTTO GMBH ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-3972.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-800112 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','301118 14352388 610971995391 SIEMENS CASINO CARD OKTOBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-6439.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-30 00:00:00','2018-11-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 11-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201811/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','KARTENZAHLUNG','2018-11-27T17:07 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-21 00:00:00','KARTENZAHLUNG','2019-01-18T15:04 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-19 00:00:00','BARGELDAUSZAHLUNG','2019-01-19T12:47 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','BARGELDAUSZAHLUNG','2019-01-17T12:07 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','KARTENZAHLUNG','2019-01-16T16:48 Debitk.5 2021-12 ','NORMA SAGT DANKE//Erlangen/DE','DE57300500000001231919','-5214.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000032920 vom 10.01.2019, Rechnung, ZahlB 1300002730 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-15 00:00:00','2019-01-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 07504092437 Monat 12/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-11 00:00:00','2019-01-10 00:00:00','BARGELDAUSZAHLUNG','2019-01-10T16:52 Debitk.5 2021-12 ','KOENIGSTOR//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','KARTENZAHLUNG','2019-01-08T16:38 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2650.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','BARGELDAUSZAHLUNG','2019-01-02T12:47 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2018-12-31 00:00:00','FOLGELASTSCHRIFT','301218 14459120 610971995391 SIEMENS CASINO CARD NOVEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5466.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2019-01-01 00:00:00','ABSCHLUSS','Abrechnung 28.12.2018 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 12/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-877329 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 12-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . , Ihr Einkauf bei , Artikel-283278628430 ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2050.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201812/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-47048.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11988.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-315.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-268.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-09 00:00:00','2019-04-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-05T18:09 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-847.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-06T20:15 Debitk.5 2021-12 ','IRISH CASTLE PUB GIR 79973149//NUERNBERG/DE','DE19300500000001458710','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-04 00:00:00','2019-04-04 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck DATUM 04.04.2019, 09.32 UHR1.TAN 556059 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-02 00:00:00','2019-04-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','FOLGELASTSCHRIFT','300319 14698260 610971995391 SIEMENS CASINO CARD FEBRUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3998.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-04-01 00:00:00','ABSCHLUSS','Abrechnung 29.03.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-30 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-199205 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 03-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201903/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 03/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-27 00:00:00','2019-03-27 00:00:00','KARTENZAHLUNG','2019-03-26T14:58 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28558583000651/13.03.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-21 00:00:00','BARGELDAUSZAHLUNG','2019-03-21T17:16 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-25333.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-20 00:00:00','ONLINE-UEBERWEISUNG','Karte - Danke :) DATUM 20.03.2019, 19.10 UHR1.TAN 281280 ','Rene Bedemann','DE80760100850365803856','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-19 00:00:00','BARGELDAUSZAHLUNG','2019-03-19T17:29 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-18 00:00:00','2019-03-18 00:00:00','FOLGELASTSCHRIFT','Reise-VSNR 783299846 14.03.2019 ','HANSEMERKUR VERS.','DE41200300000000223842','-990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-15 00:00:00','2019-03-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05204061749 Monat 02/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-14 00:00:00','2019-03-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000042174 vom 07.03.2019, Rechnung, ZahlB 1300744806 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . 23ANDME INC, Ihr Einkauf bei 23ANDME INC ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11473.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-04 00:00:00','2019-03-04 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-01 00:00:00','2019-03-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-125257 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 02/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 02-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','280219 14615716 610971995391 SIEMENS CASINO CARD JANUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3428.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-27 00:00:00','2019-02-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201902/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-26 00:00:00','2019-02-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28447008000651/14.02.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-22 00:00:00','BARGELDAUSZAHLUNG','2019-02-22T19:17 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-21 00:00:00','BARGELDAUSZAHLUNG','2019-02-21T16:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-33112.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-21 00:00:00','2019-02-21 00:00:00','KARTENZAHLUNG','2019-02-20T17:15 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06904310977 Monat 01/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000037522 vom 06.02.2019, Rechnung, ZahlB 1300373897 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-14 00:00:00','2019-02-13 00:00:00','BARGELDAUSZAHLUNG','2019-02-13T17:39 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-12 00:00:00','2019-02-12 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-182.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-11 00:00:00','2019-02-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-04 00:00:00','2019-02-04 00:00:00','ONLINE-UEBERWEISUNG','21588259 Deinhard, Jan-Lucas DATUM 04.02.2019, 13.55 UHR1.TAN 584860 ','Staatsoberkasse Landshut','DE28700500003201190315','-11600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')

INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-04 00:00:00','AUSZAHL. MIT KUNDENENTGELT','2019-11-03T07:13 11907Debitk.5 2021-12 Fremdentgelt 5,50 ','F-FH VIII/Hugo-Eckener-Ring/Frankfurt am Main/DE','DE66500600000000091296','-10550.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-246.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','FOLGELASTSCHRIFT','D01-2574298-5429459 Prime Video 4PKL95DGPR7CRMLO ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','ERSTLASTSCHRIFT','61910256959576 KV00100892198 11/19 ','ARAG KRANKENVERSICHERUNG-AG','DE44700800000564460402','-1083.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-11-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-729025 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 10-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','KARTENZAHLUNG','2019-10-29T21:24 01921Debitk.5 202 ','Pizzeria Mamma Mia//Erlangen/DE','DE86300500000001052141','-3300.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201910/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-29 00:00:00','2019-10-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-11 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 09/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-07 00:00:00','2019-11-07 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238914) VOM 03.11.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . WITHLOCALSB, Ihr Einkauf bei WITHLOCALSB ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9713.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-9857499-0834213 Prime Video 5CKWDBBO9I2PPI30 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','306-0229897-4217115 Amazon.de UROQFS0CLRSHEP7X ','AMAZON EU S.A R.L., NIEDERLASSUNG DEUTSCHLAND','DE93300308800013441006','-777.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-22.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-120.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-26 00:00:00','2019-07-25 00:00:00','BARGELDAUSZAHLUNG','2019-07-25T16:46 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-62633.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-19.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-19 00:00:00','2019-07-19 00:00:00','BARGELDAUSZAHLUNG','2019-07-19T11:58 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1099.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','BARGELDAUSZAHLUNG','2019-07-11T12:35 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-72.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-55.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34294.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','FOLGELASTSCHRIFT','D01-1760169-5893406 Prime Video D01IFXAETOXP1KSS ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','BARGELDAUSZAHLUNG','2019-10-21T12:39 01912Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','ERSTLASTSCHRIFT','D-Nr M501545176, /INV/201909395545 vom 14.10.2019, TELEFONIE September 2019, ZahlB 1303616140 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2989.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-16 00:00:00','2019-10-16 00:00:00','FOLGELASTSCHRIFT','D01-0389268-1266266 Prime Video 6R20YADL3I0Y25Q3 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29113194000651/16.08.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-14 00:00:00','2019-10-14 00:00:00','FOLGELASTSCHRIFT','Haftpflicht Online 56000027373 ERSTBTR 10/19 53,89 EUR ','AXA Versicherung Aktiengesellschaft','DE04300500000000444166','-5389.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-08 00:00:00','BARGELDAUSZAHLUNG','2019-10-08T19:24 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-27 00:00:00','2019-08-27 00:00:00','FOLGELASTSCHRIFT','D01-6278352-4568626 Prime Video 1R29MPD0NUAZ417C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','D01-0033970-2962258 Prime Video 6AGR71FD6DDSE40B ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238913) VOM 03.10.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','D01-1292806-4498208 Prime Video MKVO1KBGEOCR4E18 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-62.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . IMMOBILIENS, Ihr Einkauf bei IMMOBILIENS ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2995.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-345.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','D01-1512087-3762214 Prime Video 20OM9Q6GJR4TAVEU ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T23:58 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-21 00:00:00','2019-08-21 00:00:00','KARTENZAHLUNG','2019-08-20T16:38 Debitk.5 2021-12 ','Kaufland Erlangen//Erlangen/DE','DE25600501010004001050','-24.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T20:39 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-07 00:00:00','FOLGELASTSCHRIFT','D01-4177679-3442250 Prime Video 351XYRPSQWVCLAWV ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-249.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-9.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-6689.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-12.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-656666 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-58.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-819.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','61.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-14.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-24586.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-14.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-561.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-187.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','2486.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-81.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-1195.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-20 00:00:00','FOLGELASTSCHRIFT','D01-4107087-2354224 Prime Video 3X3483E1B3U669TY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-5810.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','6062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-17.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-45.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-8062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','FOLGELASTSCHRIFT','D01-2574298-5429459 Prime Video 4PKL95DGPR7CRMLO ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','ERSTLASTSCHRIFT','61910256959576 KV00100892198 11/19 ','ARAG KRANKENVERSICHERUNG-AG','DE44700800000564460402','-1083.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-11-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-6.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-729025 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 10-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','KARTENZAHLUNG','2019-10-29T21:24 01921Debitk.5 202 ','Pizzeria Mamma Mia//Erlangen/DE','DE86300500000001052141','-3300.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201910/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-29 00:00:00','2019-10-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','D01-9000112-3563800 Prime Video 7IJ3EQTUANPWV147 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29334259000651/16.10.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-52.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-25 00:00:00','2019-10-24 00:00:00','BARGELDAUSZAHLUNG','2019-10-24T18:21 01918Debitk.5 202 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-24.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-24 00:00:00','2019-10-24 00:00:00','KARTENZAHLUNG','2019-10-23T21:31 01921Debitk.5 202 ','CAFE KRAFT GMBH, NUERNBERG//NUERNBERG/DE','DE50370100500555654504','-270.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34294.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','FOLGELASTSCHRIFT','D01-1760169-5893406 Prime Video D01IFXAETOXP1KSS ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','BARGELDAUSZAHLUNG','2019-10-21T12:39 01912Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','ERSTLASTSCHRIFT','D-Nr M501545176, /INV/201909395545 vom 14.10.2019, TELEFONIE September 2019, ZahlB 1303616140 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2989.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-16 00:00:00','2019-10-16 00:00:00','FOLGELASTSCHRIFT','D01-0389268-1266266 Prime Video 6R20YADL3I0Y25Q3 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','2486.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-81.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-65.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-06 00:00:00','2019-09-06 00:00:00','BARGELDAUSZAHLUNG','2019-09-06T12:29 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-626.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-04 00:00:00','2019-09-04 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238912) VOM 03.09.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-2398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-11.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6017.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-31.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2532.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34458.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 06/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','2486.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-98.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-106.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-58.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-866.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-1195.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-20 00:00:00','FOLGELASTSCHRIFT','D01-4107087-2354224 Prime Video 3X3483E1B3U669TY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-5810.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-25.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-55.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-436.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-96.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5802.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-30.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-10.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-80.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T12:20 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11988.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-315.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-268.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-1899.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-7190.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','140606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-43612.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','70000.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-19 00:00:00','BARGELDAUSZAHLUNG','2019-03-19T17:29 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-18 00:00:00','2019-03-18 00:00:00','FOLGELASTSCHRIFT','Reise-VSNR 783299846 14.03.2019 ','HANSEMERKUR VERS.','DE41200300000000223842','-990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-15 00:00:00','2019-03-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05204061749 Monat 02/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-14 00:00:00','2019-03-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000042174 vom 07.03.2019, Rechnung, ZahlB 1300744806 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . 23ANDME INC, Ihr Einkauf bei 23ANDME INC ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11473.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-04 00:00:00','2019-03-04 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-01 00:00:00','2019-03-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-125257 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 02/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 02-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','280219 14615716 610971995391 SIEMENS CASINO CARD JANUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3428.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-27 00:00:00','2019-02-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201902/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-26 00:00:00','2019-02-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28447008000651/14.02.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-22 00:00:00','BARGELDAUSZAHLUNG','2019-02-22T19:17 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-21 00:00:00','BARGELDAUSZAHLUNG','2019-02-21T16:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-33112.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-21 00:00:00','2019-02-21 00:00:00','KARTENZAHLUNG','2019-02-20T17:15 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06904310977 Monat 01/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000037522 vom 06.02.2019, Rechnung, ZahlB 1300373897 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-14 00:00:00','2019-02-13 00:00:00','BARGELDAUSZAHLUNG','2019-02-13T17:39 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-12 00:00:00','2019-02-12 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-182.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-11 00:00:00','2019-02-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-04 00:00:00','2019-02-04 00:00:00','ONLINE-UEBERWEISUNG','21588259 Deinhard, Jan-Lucas DATUM 04.02.2019, 13.55 UHR1.TAN 584860 ','Staatsoberkasse Landshut','DE28700500003201190315','-11600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-21 00:00:00','KARTENZAHLUNG','2019-01-18T15:04 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-19 00:00:00','BARGELDAUSZAHLUNG','2019-01-19T12:47 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','BARGELDAUSZAHLUNG','2019-01-17T12:07 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','KARTENZAHLUNG','2019-01-16T16:48 Debitk.5 2021-12 ','NORMA SAGT DANKE//Erlangen/DE','DE57300500000001231919','-5214.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-17 00:00:00','2019-01-17 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000032920 vom 10.01.2019, Rechnung, ZahlB 1300002730 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-15 00:00:00','2019-01-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 07504092437 Monat 12/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-11 00:00:00','2019-01-10 00:00:00','BARGELDAUSZAHLUNG','2019-01-10T16:52 Debitk.5 2021-12 ','KOENIGSTOR//SPARKASSE NUERNBERG/DE','DE60760501019000481417','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','KARTENZAHLUNG','2019-01-08T16:38 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2650.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-09 00:00:00','2019-01-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','BARGELDAUSZAHLUNG','2019-01-02T12:47 Debitk.5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2019-01-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-02 00:00:00','2018-12-31 00:00:00','FOLGELASTSCHRIFT','301218 14459120 610971995391 SIEMENS CASINO CARD NOVEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-5466.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2019-01-01 00:00:00','ABSCHLUSS','Abrechnung 28.12.2018 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 12/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A18-877329 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 12-18 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-28 00:00:00','2018-12-28 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . , Ihr Einkauf bei , Artikel-283278628430 ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2050.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-12-27 00:00:00','2018-12-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201812/HR ','Siemens AG','DE90700500000002055382','73500.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . WITHLOCALSB, Ihr Einkauf bei WITHLOCALSB ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9713.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-9857499-0834213 Prime Video 5CKWDBBO9I2PPI30 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','306-0229897-4217115 Amazon.de UROQFS0CLRSHEP7X ','AMAZON EU S.A R.L., NIEDERLASSUNG DEUTSCHLAND','DE93300308800013441006','-777.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-21.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5190647-7893445 Prime Video 2QYXH23613PJOOZI ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-8.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5740740-8939840 Prime Video 5V06V2CNFVR77AS1 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-04 00:00:00','AUSZAHL. MIT KUNDENENTGELT','2019-11-03T07:13 11907Debitk.5 2021-12 Fremdentgelt 5,50 ','F-FH VIII/Hugo-Eckener-Ring/Frankfurt am Main/DE','DE66500600000000091296','-10550.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-245.86','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','FOLGELASTSCHRIFT','D01-2574298-5429459 Prime Video 4PKL95DGPR7CRMLO ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','ERSTLASTSCHRIFT','61910256959576 KV00100892198 11/19 ','ARAG KRANKENVERSICHERUNG-AG','DE44700800000564460402','-1083.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-11-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-5.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-729025 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1.87','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 10-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','KARTENZAHLUNG','2019-10-29T21:24 01921Debitk.5 202 ','Pizzeria Mamma Mia//Erlangen/DE','DE86300500000001052141','-3300.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201910/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-29 00:00:00','2019-10-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','D01-9000112-3563800 Prime Video 7IJ3EQTUANPWV147 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29334259000651/16.10.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-51.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-25 00:00:00','2019-10-24 00:00:00','BARGELDAUSZAHLUNG','2019-10-24T18:21 01918Debitk.5 202 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-23.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-24 00:00:00','2019-10-24 00:00:00','KARTENZAHLUNG','2019-10-23T21:31 01921Debitk.5 202 ','CAFE KRAFT GMBH, NUERNBERG//NUERNBERG/DE','DE50370100500555654504','-270.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34294.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','FOLGELASTSCHRIFT','D01-1760169-5893406 Prime Video D01IFXAETOXP1KSS ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.29','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','BARGELDAUSZAHLUNG','2019-10-21T12:39 01912Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','ERSTLASTSCHRIFT','D-Nr M501545176, /INV/201909395545 vom 14.10.2019, TELEFONIE September 2019, ZahlB 1303616140 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2989.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-16 00:00:00','2019-10-16 00:00:00','FOLGELASTSCHRIFT','D01-0389268-1266266 Prime Video 6R20YADL3I0Y25Q3 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29113194000651/16.08.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-14 00:00:00','2019-10-14 00:00:00','FOLGELASTSCHRIFT','Haftpflicht Online 56000027373 ERSTBTR 10/19 53,89 EUR ','AXA Versicherung Aktiengesellschaft','DE04300500000000444166','-5389.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-08 00:00:00','BARGELDAUSZAHLUNG','2019-10-08T19:24 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-27 00:00:00','2019-08-27 00:00:00','FOLGELASTSCHRIFT','D01-6278352-4568626 Prime Video 1R29MPD0NUAZ417C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-5.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','D01-0033970-2962258 Prime Video 6AGR71FD6DDSE40B ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238913) VOM 03.10.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-25.32','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-09 00:00:00','2019-10-09 00:00:00','FOLGELASTSCHRIFT','D01-1292806-4498208 Prime Video MKVO1KBGEOCR4E18 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-62.37','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . IMMOBILIENS, Ihr Einkauf bei IMMOBILIENS ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2995.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-344.58','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-08 00:00:00','2019-10-08 00:00:00','FOLGELASTSCHRIFT','D01-1512087-3762214 Prime Video 20OM9Q6GJR4TAVEU ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T23:58 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-21 00:00:00','2019-08-21 00:00:00','KARTENZAHLUNG','2019-08-20T16:38 Debitk.5 2021-12 ','Kaufland Erlangen//Erlangen/DE','DE25600501010004001050','-23.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-07 00:00:00','2019-10-04 00:00:00','BARGELDAUSZAHLUNG','2019-10-04T20:39 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-10.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6017.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-30.64','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2532.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6237.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34458.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 06/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-97.92','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-106.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-58.02','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-866.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-1195.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','BARGELDAUSZAHLUNG','2019-08-13T11:36 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-20 00:00:00','FOLGELASTSCHRIFT','D01-4107087-2354224 Prime Video 3X3483E1B3U669TY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-0.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-13 00:00:00','2019-08-13 00:00:00','FOLGELASTSCHRIFT','D01-6987471-8709412 Prime Video 37FW9YVL8CYKBW6L ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','SEPA-ELV-LASTSCHRIFT','170618275146458211299583630 ELV65281388 17.06 18.27 ME5 ','NETTO MARKEN-DISCOU.','DE34302201900024938816','-24.82','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','KARTENZAHL. MIT BARAUSZAHL.','2019-08-08T17:51 Debitk.5 2021-12 Bargeldausz. 20,00 EUR ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-5810.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','KARTENZAHLUNG','2019-06-17T17:26 Debitk.5 2021-12 ','Frisoer Klier 1283//Erlangen/DE','DE13269410530682240708','-26.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-09 00:00:00','2019-08-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','GUTSCHR. UEBERWEISUNG','VST 458207, 60,62 EUR J19-047792 ','ESTW - ERLANGER STADTWERKE AG','DE06763200720004536703','6062.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-16.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-08 00:00:00','2019-08-08 00:00:00','FOLGELASTSCHRIFT','D01-2515946-8715812 Prime Video 2F728DAZX66TTH6S ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-44.89','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-06 00:00:00','2019-08-06 00:00:00','FOLGELASTSCHRIFT','D01-0301409-3730272 Prime Video 6YUMOXRCXBBLKZA5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-4.7','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.4','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T12:20 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-10-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-14 00:00:00','2019-11-14 00:00:00','FOLGELASTSCHRIFT','D01-2511092-5749409 Prime Video 4B2BRHMH4UTQ26RW ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-3499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 09-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-09 00:00:00','BARGELDAUSZAHLUNG','2019-11-09T23:11 11923Debitk.5 202 ','SBCEN//SPARKASSE NUERNBERG/DE','DE82760501019000481409','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','300919 15194815 610971995391 SIEMENS CASINO CARD AUGUST 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-66.89','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-09 00:00:00','BARGELDAUSZAHLUNG','2019-11-09T15:06 11915Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29223637000651/16.09.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-11 00:00:00','2019-11-11 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-30 00:00:00','2019-09-30 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 09/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-07 00:00:00','2019-11-07 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238914) VOM 03.11.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-27 00:00:00','2019-09-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201909/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . WITHLOCALSB, Ihr Einkauf bei WITHLOCALSB ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9713.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-26 00:00:00','2019-09-26 00:00:00','FOLGELASTSCHRIFT','D01-3386999-4642225 Prime Video 7EIIAB22V8IHBJFC ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-9857499-0834213 Prime Video 5CKWDBBO9I2PPI30 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-3392138-5522268 Prime Video 1QKOPREAQMXIB7UY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','306-0229897-4217115 Amazon.de UROQFS0CLRSHEP7X ','AMAZON EU S.A R.L., NIEDERLASSUNG DEUTSCHLAND','DE93300308800013441006','-777.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-7230805-3544654 Prime Video 4FF0418LUT7MU6QB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-21.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5190647-7893445 Prime Video 2QYXH23613PJOOZI ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-8.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-05 00:00:00','2019-11-05 00:00:00','FOLGELASTSCHRIFT','D01-5740740-8939840 Prime Video 5V06V2CNFVR77AS1 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-24 00:00:00','2019-09-24 00:00:00','FOLGELASTSCHRIFT','D01-4453061-3787858 Prime Video 32RE7SHQPXC28NLW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-04 00:00:00','AUSZAHL. MIT KUNDENENTGELT','2019-11-03T07:13 11907Debitk.5 2021-12 Fremdentgelt 5,50 ','F-FH VIII/Hugo-Eckener-Ring/Frankfurt am Main/DE','DE66500600000000091296','-10550.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-23 00:00:00','2019-09-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-245.86','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','FOLGELASTSCHRIFT','D01-2574298-5429459 Prime Video 4PKL95DGPR7CRMLO ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-19 00:00:00','2019-09-19 00:00:00','KARTENZAHLUNG','2019-09-18T17:30 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-11-04 00:00:00','2019-11-01 00:00:00','ERSTLASTSCHRIFT','61910256959576 KV00100892198 11/19 ','ARAG KRANKENVERSICHERUNG-AG','DE44700800000564460402','-1083.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','D01-4017111-7419819 Prime Video 1GYJR8PE0OOG0CD1 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-4.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-11-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-5.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-729025 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1.87','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-31 00:00:00','2019-10-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 10-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','KARTENZAHLUNG','2019-10-29T21:24 01921Debitk.5 202 ','Pizzeria Mamma Mia//Erlangen/DE','DE86300500000001052141','-3300.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-30 00:00:00','2019-10-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201910/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-6159051-4763817 Prime Video 5TY35T07UGJUX9HS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-29 00:00:00','2019-10-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','D01-9000112-3563800 Prime Video 7IJ3EQTUANPWV147 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-28 00:00:00','2019-10-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29334259000651/16.10.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-6490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:31 Debitk.5 2021-12 ','KARSTADT LEBENSM. SAGT DANK//Nuernberg Lorenz/DE','DE42360800800413210503','-51.61','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-25 00:00:00','2019-10-24 00:00:00','BARGELDAUSZAHLUNG','2019-10-24T18:21 01918Debitk.5 202 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-23.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-24 00:00:00','2019-10-24 00:00:00','KARTENZAHLUNG','2019-10-23T21:31 01921Debitk.5 202 ','CAFE KRAFT GMBH, NUERNBERG//NUERNBERG/DE','DE50370100500555654504','-270.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34294.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-60.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-23 00:00:00','2019-10-23 00:00:00','FOLGELASTSCHRIFT','D01-1760169-5893406 Prime Video D01IFXAETOXP1KSS ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','300819 15120983 610971995391 SIEMENS CASINO CARD JULI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-106.29','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','BARGELDAUSZAHLUNG','2019-10-21T12:39 01912Debitk.5 202 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-21 00:00:00','2019-10-21 00:00:00','ERSTLASTSCHRIFT','D-Nr M501545176, /INV/201909395545 vom 14.10.2019, TELEFONIE September 2019, ZahlB 1303616140 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2989.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','2539.35','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-10-16 00:00:00','2019-10-16 00:00:00','FOLGELASTSCHRIFT','D01-0389268-1266266 Prime Video 6R20YADL3I0Y25Q3 ','AMAZON DIGITAL GERMANY GMBH','DE07300308800013011001','-399.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-08-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-561.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','D01-4144659-3352624 Prime Video 7JA5D1DOZ9LWKC6A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-17 00:00:00','2019-09-17 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-187.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-31 00:00:00','2019-07-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 07-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D01-5071106-6674258 Prime Video 7GZPHYDMJ6CV7D2C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201907/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-12 00:00:00','2019-09-12 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000073410 vom 05.09.2019, Rechnung, ZahlB 1302995754 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-30 00:00:00','2019-07-30 00:00:00','FOLGELASTSCHRIFT','300719 15035417 610971995391 SIEMENS CASINO CARD JUNI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-80.62','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-11 00:00:00','2019-09-10 00:00:00','BARGELDAUSZAHLUNG','2019-09-10T17:12 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 29002862000651/15.07.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-64.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','D01-8660773-1400622 Prime Video 3X73A0RYW848DUF6 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-29 00:00:00','2019-07-29 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 07/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-10 00:00:00','2019-09-10 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-25 00:00:00','2019-07-25 00:00:00','FOLGELASTSCHRIFT','D01-8332720-6610260 Prime Video 1PJUZ9P3PYJZEDKI ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-06 00:00:00','2019-09-06 00:00:00','BARGELDAUSZAHLUNG','2019-09-06T12:29 Debitk.5 2021-12 ','LUITPOLDST//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-22 00:00:00','2019-07-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-626.33','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-04 00:00:00','2019-09-04 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238912) VOM 03.09.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-18 00:00:00','2019-07-18 00:00:00','FOLGELASTSCHRIFT','D01-6698135-8149415 Prime Video 37A79GB17VHDGTTK ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-09-02 00:00:00','2019-09-02 00:00:00','KARTENZAHLUNG','2019-08-31T13:14 Debitk.5 2021-12 ','XXXS006XXX SATURN E//NUERNBERG/DE','DE38300500000001107713','-2398.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-17 00:00:00','2019-07-17 00:00:00','FOLGELASTSCHRIFT','D01-6227746-4946224 Prime Video M3RYPLI2AI238NV3 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-09-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-16 00:00:00','2019-07-16 00:00:00','FOLGELASTSCHRIFT','D01-7214196-8117415 Prime Video 45E1WI28SYRDDZ5J ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-10.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','KARTENZAHLUNG','2019-08-29T18:36 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6017.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-15 00:00:00','2019-07-15 00:00:00','KARTENZAHLUNG','2019-07-12T17:09 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','VST 458207, 62,00 EUR A19-594838 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6200.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-11 00:00:00','2019-07-11 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000064671 vom 04.07.2019, Rechnung, ZahlB 1302239483 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-30 00:00:00','2019-08-30 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 08-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-10 00:00:00','2019-07-10 00:00:00','FOLGELASTSCHRIFT','D01-9646851-5179845 Prime Video 5PW3VA2DBWO9AY7C ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201908/HR ','Siemens AG','DE90700500000002055382','253935.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-29 00:00:00','2019-08-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-02 00:00:00','2019-07-02 00:00:00','FOLGELASTSCHRIFT','D01-6839793-5448645 Prime Video 1IYF3F4MN253ZE3X ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-28 00:00:00','2019-08-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 08/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','300619 14939573 610971995391 SIEMENS CASINO CARD MAI 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-30.64','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-26 00:00:00','2019-08-26 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . POOTER, Ihr Einkauf bei POOTER ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-2532.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','FOLGELASTSCHRIFT','D01-7722120-5637400 Prime Video 2REZK4ZQRHO1T3AY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:17 Debitk.5 2021-12 ','YORMA S AG//PLATTLING/DE','DE89741200710006466257','-500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-23 00:00:00','2019-08-23 00:00:00','KARTENZAHLUNG','2019-08-22T17:54 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-6237.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-34458.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 06/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-22 00:00:00','2019-08-22 00:00:00','FOLGELASTSCHRIFT','D01-0463795-1922247 Prime Video 42P64CR40QXJ8C8Z ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-20 00:00:00','2019-08-20 00:00:00','FOLGELASTSCHRIFT','D01-8161227-1743057 Prime Video 74Q50QIR3FUSSRCL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','2485.77','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-18 00:00:00','BARGELDAUSZAHLUNG','2019-08-18T17:17 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-97.92','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-17 00:00:00','BARGELDAUSZAHLUNG','2019-08-17T14:28 Debitk.5 2021-12 ','LUDWIGSTRA//SPARKASSE PASSAU/DE','DE89740500009000481409','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX5575 ','KREDITKARTENABRECHNUNG','9902292060','-106.17','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','KARTENZAHLUNG','2019-08-15T19:11 Debitk.5 2099-12 ','Tiger Deutschland GmbH//Erlangen/DE/0','DE47500500000959566027','-900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-58.02','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000069030 vom 05.08.2019, Rechnung, ZahlB 1302618238 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-19 00:00:00','2019-08-19 00:00:00','SEPA-ELV-LASTSCHRIFT','TEGUT SAGT DANKE ELV55570077 15.08 19:50 ME5 ','tegut... gute Lebensmittel GmbH + Co. KG','DE43700202700015563405','-866.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-7612084-4725469 Prime Video 1NCHX9E1VRM6XSRH ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T12:29 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-16 00:00:00','2019-08-16 00:00:00','KARTENZAHLUNG','2019-08-15T19:40 Debitk.5 2021-12 ','DM FIL.1323 H:65239//ERLANGEN/DE','DE88600501017402099997','-1195.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-24 00:00:00','2019-06-24 00:00:00','FOLGELASTSCHRIFT','D01-6872360-1925400 Prime Video 6RNI8KF7WTEFUSQB ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1.98','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-08-15 00:00:00','2019-08-15 00:00:00','FOLGELASTSCHRIFT','D01-4754261-2520624 Prime Video 5N3BYPLUG6LWAFRD ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-3.99','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-4.5','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-09 00:00:00','2019-07-09 00:00:00','FOLGELASTSCHRIFT','. SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-2.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-06-29 00:00:00','BARGELDAUSZAHLUNG','2019-06-29T09:52 Debitk.5 2021-12 ','F-GINNHEIM//FRANKFURTER SPARKASSE/DE','DE12500502019000481418','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-24.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-07-01 00:00:00','2019-07-01 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-54.91','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-07-01 00:00:00','ABSCHLUSS','Abrechnung 28.06.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-2.05','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-29 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','1406.06','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-28 00:00:00','2019-06-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 06-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-436.12','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-27 00:00:00','2019-06-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05119720/201906/HR ','Siemens AG','DE90700500000002055382','248577.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-96.19','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28893502000651/14.06.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5802.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000051608 vom 08.05.2019, Rechnung, ZahlB 1301490953 ','M-net Telekommunikations GmbH','DE74700500000000028273','-29.9','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-26 00:00:00','2019-06-26 00:00:00','FOLGELASTSCHRIFT','D01-3968535-6795828 Prime Video POO8MS7XFQNGQFII ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-10 00:00:00','2019-05-10 00:00:00','KARTENZAHLUNG','2019-05-09T18:03 Debitk.5 2021-12 ','L Osteria Erlangen//Erlangen/DE','DE86300500000001052141','-26.4','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-25 00:00:00','2019-06-25 00:00:00','FOLGELASTSCHRIFT','D01-4898708-5723861 Prime Video 6L85GJFMCBLOPMNS ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-09 00:00:00','2019-05-09 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-9.99','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-21 00:00:00','2019-06-21 00:00:00','FOLGELASTSCHRIFT','D01-8552872-3333448 Prime Video 310LBN40R1241L4A ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-06 00:00:00','2019-05-06 00:00:00','KARTENZAHLUNG','2019-05-03T10:10 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-79.8','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-19 00:00:00','2019-06-19 00:00:00','BARGELDAUSZAHLUNG','2019-06-19T12:20 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-8033778-8722238 Prime Video 6MCG5V6Y45G5J5BY ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-18 00:00:00','2019-06-18 00:00:00','FOLGELASTSCHRIFT','D01-0408979-0664664 Prime Video 48LXEIK86ZQYLR6G ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-1699.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-14 00:00:00','BARGELDAUSZAHLUNG','2019-06-14T17:38 Debitk.5 2021-12 ','ARCADEN//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-17 00:00:00','2019-06-17 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.05.2019 14.05.2019 44.89 ','Siemens BKK','DE81700800000354038800','-4489.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','KARTENZAHLUNG','2019-06-12T18:12 Debitk.5 2021-12 ','Mr. Bleck//Erlangen/DE/0','DE47500500000959566027','-470.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-14 00:00:00','2019-06-14 00:00:00','FOLGELASTSCHRIFT','D01-7198871-2629466 Prime Video 4XHZ8S20GG79L3L5 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-13 00:00:00','2019-06-13 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000060230 vom 06.06.2019, Rechnung, ZahlB 1301864452 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-12 00:00:00','2019-06-12 00:00:00','FOLGELASTSCHRIFT','D01-0767502-7307832 Prime Video 2I3UODAH5Z2C6GA7 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-499.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','KARTENZAHLUNG','2019-06-07T15:43 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DROPBOXINTE, Ihr Einkauf bei DROPBOXINTE ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11988.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','FOLGELASTSCHRIFT','D01-0267898-9186203 Prime Video 6C1QWQ3XY2KJNNK2 ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-08T11:20 Debitk.5 2021-12 ','NBG HBF DUNKIN DONUTS//Nuernberg/DE','DE52765500000008443889','-315.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-11 00:00:00','2019-06-10 00:00:00','KARTENZAHLUNG','2019-06-07T12:28 Debitk.5 2021-12 ','ALDI GMBH + CO. KG//ERLANGEN/DE','DE29300500000001132513','-268.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-06 00:00:00','2019-06-06 00:00:00','FOLGELASTSCHRIFT','D01-5445295-4040669 Prime Video 5VLB84D81P4SHPTL ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','KARTENZAHLUNG','2019-06-04T17:54 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-1899.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','D01-0715639-1736631 Prime Video 6RER9EEMXZ5T0F2Q ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-05 00:00:00','2019-06-05 00:00:00','FOLGELASTSCHRIFT','Kieser Training-Beitrag (ID238909) VOM 03.06.2019 ','JENS MOELLER GMBH','DE85763500000000001669','-6900.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-7024908-5090217 Prime Video 46MBH24MG8R9STAW ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-2458316-5317464 Prime Video 1JR4OX80IU4ZK5LZ ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-04 00:00:00','2019-06-04 00:00:00','FOLGELASTSCHRIFT','D01-3694464-4872643 Prime Video 43YYC08FGLD26R5H ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-399.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','KARTENZAHLUNG','2019-06-01T11:40 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-7190.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-06-03 00:00:00','2019-06-03 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-06-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-30 00:00:00','BARGELDAUSZAHLUNG','2019-05-30T15:16 Debitk.5 2021-12 ','STINTZINGS//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','D01-5935447-4453454 Prime Video 2TUXSL9CDFK0YASO ','AMAZON INSTANT VIDEO GERMANY GMBH','DE07300308800013011001','-299.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 05-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-31 00:00:00','2019-05-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-347116 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-29 00:00:00','2019-05-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28783075000651/16.05.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-28 00:00:00','2019-05-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 05/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-24 00:00:00','BARGELDAUSZAHLUNG','2019-05-24T21:33 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-27 00:00:00','2019-05-27 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-24 00:00:00','2019-05-24 00:00:00','LOHN  GEHALT','1406.06, 584K00 19052305119720144701G584K00 ','Siemens AG','DE05700202700000203848','140606.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-23 00:00:00','2019-05-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-43612.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-22 00:00:00','2019-05-21 00:00:00','BARGELDAUSZAHLUNG','2019-05-21T18:38 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-4000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-16 00:00:00','2019-05-17 00:00:00','WERTPAPIERE','Verkauf AT 13.05.2019 St 7,065 zu 99,080000EUR LBBW Multi Global R ','DekaBank Deutsche Girozentrale                                        Mainzer Landstr. 16','DE02500509990000022889','70000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-05-15 00:00:00','2019-05-15 00:00:00','FOLGELASTSCHRIFT','K522464184 Beitrag 01.04.2019 30.04.2019 96.19 ','Siemens BKK','DE81700800000354038800','-9619.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-05T18:09 Debitk.5 2021-12 ','REWE SAGT DANKE. 46659170//Erlangen/DE','DE41300500000001484310','-847.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-08 00:00:00','2019-04-08 00:00:00','KARTENZAHLUNG','2019-04-06T20:15 Debitk.5 2021-12 ','IRISH CASTLE PUB GIR 79973149//NUERNBERG/DE','DE19300500000001458710','-2500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-04 00:00:00','2019-04-04 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck DATUM 04.04.2019, 09.32 UHR1.TAN 556059 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-02 00:00:00','2019-04-02 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-04-01 00:00:00','2019-04-01 00:00:00','FOLGELASTSCHRIFT','300319 14698260 610971995391 SIEMENS CASINO CARD FEBRUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3998.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-04-01 00:00:00','ABSCHLUSS','Abrechnung 29.03.2019 siehe Anlage ','nan','0020557849','0.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-30 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-199205 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-29 00:00:00','2019-03-29 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 03-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201903/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-28 00:00:00','2019-03-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 03/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-27 00:00:00','2019-03-27 00:00:00','KARTENZAHLUNG','2019-03-26T14:58 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-25 00:00:00','2019-03-25 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28558583000651/13.03.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-21 00:00:00','BARGELDAUSZAHLUNG','2019-03-21T17:16 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-1500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-22 00:00:00','2019-03-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-25333.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-20 00:00:00','ONLINE-UEBERWEISUNG','Karte - Danke :) DATUM 20.03.2019, 19.10 UHR1.TAN 281280 ','Rene Bedemann','DE80760100850365803856','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-20 00:00:00','2019-03-19 00:00:00','BARGELDAUSZAHLUNG','2019-03-19T17:29 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-18 00:00:00','2019-03-18 00:00:00','FOLGELASTSCHRIFT','Reise-VSNR 783299846 14.03.2019 ','HANSEMERKUR VERS.','DE41200300000000223842','-990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-15 00:00:00','2019-03-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 05204061749 Monat 02/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-14 00:00:00','2019-03-14 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000042174 vom 07.03.2019, Rechnung, ZahlB 1300744806 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . 23ANDME INC, Ihr Einkauf bei 23ANDME INC ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-11473.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-11 00:00:00','2019-03-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . STEAM GAMES, Ihr Einkauf bei STEAM GAMES ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-1199.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-04 00:00:00','2019-03-04 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-03-01 00:00:00','2019-03-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-125257 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 02/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 02-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-28 00:00:00','2019-02-28 00:00:00','FOLGELASTSCHRIFT','280219 14615716 610971995391 SIEMENS CASINO CARD JANUAR 2019 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3428.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-27 00:00:00','2019-02-27 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201902/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-26 00:00:00','2019-02-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28447008000651/14.02.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-22 00:00:00','BARGELDAUSZAHLUNG','2019-02-22T19:17 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-25 00:00:00','2019-02-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-21 00:00:00','BARGELDAUSZAHLUNG','2019-02-21T16:30 Debitk.5 2021-12 ','HPT-STELLE//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-22 00:00:00','2019-02-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-33112.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-21 00:00:00','2019-02-21 00:00:00','KARTENZAHLUNG','2019-02-20T17:15 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 06904310977 Monat 01/19 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9229.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-15 00:00:00','2019-02-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000037522 vom 06.02.2019, Rechnung, ZahlB 1300373897 ','M-net Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-14 00:00:00','2019-02-13 00:00:00','BARGELDAUSZAHLUNG','2019-02-13T17:39 Debitk.5 2021-12 ','NBG. STR.//SPARKASSE ERLANGEN/DE','DE68763500009000481431','-5000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-12 00:00:00','2019-02-12 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . DANCARLIN, Ihr Einkauf bei DANCARLIN ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-182.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-11 00:00:00','2019-02-11 00:00:00','FOLGELASTSCHRIFT','PP.8381.PP . SPOTIFY, Ihr Einkauf bei SPOTIFY ','PayPal (Europe) S.a.r.l. et Cie., S.C.A.','DE88500700100175526303','-999.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-04 00:00:00','2019-02-04 00:00:00','ONLINE-UEBERWEISUNG','21588259 Deinhard, Jan-Lucas DATUM 04.02.2019, 13.55 UHR1.TAN 584860 ','Staatsoberkasse Landshut','DE28700500003201190315','-11600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERWEISUNG','Geld zurückDANKE FÜR DEINE HILFE (: ','ELAINE FERNANDEZ','DE46763500000044116613','30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','TASCHENGELD ','Hermann Kuespert','DE80773501100020085395','20000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-02-01 00:00:00','2019-02-01 00:00:00','FOLGELASTSCHRIFT','V-Nr. 47589 01-19 Beitrag 24.90 ','SLF Sportland Franken GmbH & Co. KG','DE88763500000000062725','-2490.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-02-01 00:00:00','ENTGELTABSCHLUSS','Entgeltabrechnung siehe Anlage ','nan','0000000000','-450.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETZUSCHUs F. STUDENT F.U.B DEINHARD ','DEINHARD FRANZ U BRI','DE44773200722910109556','15000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-31 00:00:00','2019-01-31 00:00:00','FOLGELASTSCHRIFT','VST 458207, 67,00 EUR A19-042052 ','ESTW-ERLANGERSTADTWERKEAG','DE06763200720004536703','-6700.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','LOHN  GEHALT','Lohn/Gehalt,05077561/201901/HR ','Siemens AG','DE90700500000002055382','73500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-30 00:00:00','2019-01-30 00:00:00','FOLGELASTSCHRIFT','300119 14524053 610971995391 SIEMENS CASINO CARD DEZEMBER 2018 SRE R+S Restaurant Services ','Siemens Aktiengesellschaft','DE53700700100203008800','-3304.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','MIET RETTUNG DATUM 29.01.2019, 19.55 UHR1.TAN 415815 ','Elaine Fernandez','DE46763500000044116613','-30000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-29 00:00:00','2019-01-29 00:00:00','ONLINE-UEBERWEISUNG','Porto fuer Polly Pocket DATUM 28.01.2019, 20.22 UHR1.TAN 683031 ','Christiane Milczewsky','DE50478535200003841178','-220.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 01/19 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-28 00:00:00','2019-01-28 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28334702000651/15.01.2019 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5530.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-25 00:00:00','2019-01-25 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','GUTSCHR. UEBERWEISUNG','Mensa Geld :) ','OLGA PAKHOMOVA','DE57760501010013411780','750.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-23 00:00:00','2019-01-23 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-50178.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2019-01-21 00:00:00','2019-01-21 00:00:00','KARTENZAHLUNG','2019-01-18T15:04 Debitk.5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')



INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-29 00:00:00','2018-11-29 00:00:00','DAUERAUFTRAG','Miete fuer Haesschen, du bist toll :) ','Elaine Fernandez','DE46763500000044116613','-23500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','KARTENZAHLUNG','2018-11-27T17:07 Debitk.5 2021-12 ','1283 Klier//Erlangen/DE','DE13269410530682240708','-2600.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-28 00:00:00','2018-11-28 00:00:00','FOLGELASTSCHRIFT','BEITRAG BIS 11/18 MANDATSREF 4005172401 GLAEUBIGER-ID DE71ZZZ00000053593 NAECHSTER BEITRAGSEINZUG IN BEKANNTER HOEHE UND VEREINBARTEM TURNUS ','IGM Erlangen','DE28500500000083044008','-205.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','GUTSCHR. UEBERW. DAUERAUFTR','MIETE UND ANDERES ','Angelika Deinhard','DE60773501100000932426','10000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-26 00:00:00','2018-11-26 00:00:00','FOLGELASTSCHRIFT','Mobilfunk Kundenkonto 0051900308 RG 28108222000651/14.11.2018 ','Telekom Deutschland GmbH                                              Landgrabenweg 151','DE68700202700667302269','-5491.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-23 00:00:00','2018-11-23 00:00:00','GUTSCHR. UEBERWEISUNG','Geld für jan ALIEN ','ELAINE FERNANDEZ','DE46763500000044116613','3500.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-22 00:00:00','2018-11-22 00:00:00','EIGENE KREDITKARTENABRECHN.','VISA-ABR. 490762XXXXXX2804 ','KREDITKARTENABRECHNUNG','9902292060','-69843.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-20 00:00:00','2018-11-20 00:00:00','ONLINE-UEBERWEISUNG','Mit Danke zurueck, mal wieder DATUM 19.11.2018, 21.45 UHR1.TAN 720605 ','Angelika Deinhard','DE60773501100000932426','-21000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-16 00:00:00','2018-11-16 00:00:00','BARGELDAUSZAHLUNG','2018-11-16T12:04:37 Karte5 2021-12 ','ROETHELH.//SPARKASSE ERLANGEN/DE','DE63763500009000481424','-2000.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','KARTENZAHLUNG','2018-11-14T17:29:42 Karte5 2021-12 ','SCHAEFER NOHE SAGT DANKE//ERLANGEN/DE','DE46370100500018299505','-7980.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','TK-BuchNr 03804115746 Monat 10/18 K522464184 Beitraege ','Techniker Krankenkasse','DE18200100200030936201','-9034.0','None')


INSERT INTO STR([Date_booked],[Date_ordered],[Text_transaction],[Use],[Contact],[AccNum],[Value_transaction],[SCA_id]) VALUES('2018-11-15 00:00:00','2018-11-15 00:00:00','FOLGELASTSCHRIFT','D-Nr 1010002015, /INV/B000000024313 vom 08.11.2018, Rechnung, ZahlB 1303630398 ','M-NET Telekommunikations GmbH','DE74700500000000028273','-2990.0','None')