In [5]:
# Default imports
import numpy as np
from numpy import random as rnd
from matplotlib import pyplot as plt
import os,warnings,datetime,time,math,itertools,sys

# Pandas
import pandas as pd

# Import the SPAQRL Wrapper
from SPARQLWrapper import SPARQLWrapper, JSON

In [46]:
# Connect to DBPedia
sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setReturnFormat(JSON)

# Create a SPARQL Query
sparql.setQuery('''
PREFIX : <http://dbpedia.org/resource/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dbo: <http://dbpedia.org/ontology/>
SELECT DISTINCT ?author_name count(?title) as ?num_titles
WHERE {
    ?author rdf:type dbo:Writer .
    ?author rdfs:label ?author_name .
    ?author dbo:notableWork ?work .
    ?work rdfs:label ?title .
    FILTER(LANG(?title)='en') .
    FILTER(LANG(?author_name)='en')
} 
GROUP BY ?author_name
ORDER BY DESC (?num_titles)
'''
)

# Convert JSON to list
res = sparql.queryAndConvert()
resL = []
for r in res['results']['bindings']: resL.append(r)

In [47]:
df = pd.json_normalize(res['results']['bindings'])
df

,author_name.type,author_name.xml:lang,author_name.value,num_titles.type,num_titles.datatype,num_titles.value
0,literal,en,Roy Clarke,typed-literal,http://www.w3.org/2001/XMLSchema#integer,17
1,literal,en,Gopimohan,typed-literal,http://www.w3.org/2001/XMLSchema#integer,16
2,literal,en,Vince Powell,typed-literal,http://www.w3.org/2001/XMLSchema#integer,14
3,literal,en,Alan Moore,typed-literal,http://www.w3.org/2001/XMLSchema#integer,14
4,literal,en,Edna O'Brien,typed-literal,http://www.w3.org/2001/XMLSchema#integer,13
...,...,...,...,...,...,...
4150,literal,en,Unnayi Variyar,typed-literal,http://www.w3.org/2001/XMLSchema#integer,1
4151,literal,en,Yoshiko Uchida,typed-literal,http://www.w3.org/2001/XMLSchema#integer,1
4152,literal,en,Yulian Semyonov,typed-literal,http://www.w3.org/2001/XMLSchema#integer,1
4153,literal,en,Zurab Karumidze,typed-literal,http://www.w3.org/2001/XMLSchema#integer,1
4154,literal,en,Émile Gaboriau,typed-literal,http://www.w3.org/2001/XMLSchema#integer,1