In [1]:
import numpy as np
from numpy import random as rnd
from matplotlib import pyplot as plt
import warnings,datetime,time,math,itertools,os,sys

import torch
import torch.nn as nn
from torch.nn import functional as F

import tensorflow as tf

from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.layers import Dense,LSTM,Activation,Dropout,BatchNormalization,Concatenate,Input
from tensorflow.keras.regularizers import l2

from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import MeanShift
from sklearn.model_selection import train_test_split

import pandas as pd

import snowflake.connector

import seaborn as sns

C:\Users\z003mxpm\Anaconda3\lib\site-packages\snowflake\connector\options.py:94: UserWarning: You have an incompatible version of 'pyarrow' installed (4.0.0), please install a version that adheres to: 'pyarrow<3.1.0,>=3.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [2]:
conn = snowflake.connector.connect(
    user='jan-lucas.deinhard@siemens-healthineers.com',
    account='shsitdl.west-europe.azure',
    authenticator='externalbrowser'
)

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [3]:
info = pd.read_sql("SHOW COLUMNS",con=conn)

In [4]:
conn.close()

In [20]:
df = info[info['database_name']=='CRMCL_TOPICAREA']

df['table_name'] = df[['schema_name','table_name']].apply(lambda x: x[0]+'.'+x[1],axis=1)
df = df[df['schema_name'].isin([
    'AUXFILES',
    'CNJ',
    'CPQ',
    'GCR',
    'OSC',
    'VARIAN'
])].drop(columns=['data_type','null?','kind','expression','comment','database_name','autoincrement','default','schema_name'])

<ipython-input-20-b893168c8783>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['table_name'] = df[['schema_name','table_name']].apply(lambda x: x[0]+'.'+x[1],axis=1)

In [21]:
df

                                   table_name               column_name
627244  AUXFILES.Account_Address_Geolocations                ACCOUNT_ID
627245  AUXFILES.Account_Address_Geolocations           Account Address
627246  AUXFILES.Account_Address_Geolocations              Account City
627247  AUXFILES.Account_Address_Geolocations   Account.Address Country
627248  AUXFILES.Account_Address_Geolocations  Account.Address accuracy
...                                       ...                       ...
635303               VARIAN.VarianTerritories                Sub-Region
635304               VARIAN.VarianTerritories           Super-Territory
635305               VARIAN.VarianTerritories              TERRITORY_ID
635306               VARIAN.VarianTerritories                 Territory
635307               VARIAN.VarianTerritories            Territory Code

[4233 rows x 2 columns]

In [22]:
df0 = df.groupby(['column_name'],as_index=False).agg({'table_name':'||'.join})

In [23]:
df0['num_tables_with_key'] = df0['table_name'].apply(lambda x: len(str(x).split('||')))

In [24]:
df0 = df0.sort_values(by='num_tables_with_key',ascending=False)

In [25]:
df0[df0['num_tables_with_key']>1]

,column_name,table_name,num_tables_with_key
1,ACCOUNT_ID,AUXFILES.Account_Address_Geolocations||AUXFILE...,54
1784,SECURITY_ID,CNJ.CNJ_MarketShare||CPQ.ACTIVE_QUOTES_HEADER|...,45
1672,Quote Number and Revision,CPQ.ACTIVE_QUOTES_HEADER||CPQ.CS_QUOTEITEM_COS...,22
1002,Group Currency,CPQ.CS_QUOTEITEM_COSTS||CPQ.CS_Quote_Details||...,20
354,Business Line,AUXFILES.Manual Adjustments||CPQ.IN_VITRO_Addi...,18
...,...,...,...
509,Consumable Name,CPQ.IN_VITRO_Consumables_per_Enduser||CPQ.IN_V...,2
241,Asset Age (days),OSC.Assets||VARIAN.VarianAssets,2
238,Assay Name,AUXFILES.IN_VITRO_AssayNameMap_by_PartNumber||...,2
252,Asset Install Year,OSC.Assets||VARIAN.VarianAssets,2
253,Asset Installation Date,OSC.Assets||VARIAN.VarianAssets,2

In [31]:
df1 = df[df['column_name'].isin(df0[df0['column_name'].str.contains('_ID')]['column_name'].unique())]

In [112]:
rf = pd.DataFrame()

for ccol in df0[df0['column_name'].str.contains('_ID')]['column_name'].unique():
    connected_cols = df1[df1['table_name'].isin(df1[df1['column_name']==ccol]['table_name'].unique())]['column_name'].unique()
    ff = pd.DataFrame(connected_cols).rename(columns={0:'From'})
    ff['To'] = ccol
    rf = pd.concat([rf,ff])

In [113]:
rf['FromNEW'] = rf.apply(lambda x: sorted([x[0],x[1]])[0],axis=1)
rf['ToNEW'] = rf.apply(lambda x: sorted([x[0],x[1]])[1],axis=1)

In [114]:
rf = rf.drop(columns=['From','To']).rename(columns={'FromNEW':'From','ToNEW':'To'}).drop_duplicates()

In [115]:
rf = rf[~rf.apply(lambda x: x[0]==x[1],axis=1)]

In [116]:
rf

,From,To
1,ACCOUNT_ID,VAR_ACCOUNT_ID
2,ACCOUNT_ID,OPPORTUNITY_ID
3,ACCOUNT_ID,PROJECT_ID
4,ACCOUNT_ID,SECURITY_ID
5,ACCOUNT_ID,OLI_ID
...,...,...
9,EMPLOYEE_ID (Account Primary Sales Rep POC),EMPLOYEE_ID (Account Secondary Sales Rep In-Vivo)
8,EMPLOYEE_ID (Account Primary Sales Rep Ultraso...,EMPLOYEE_ID (Account Secondary Sales Rep In-Vi...
9,EMPLOYEE_ID (Account Primary Sales Rep Ultraso...,EMPLOYEE_ID (Account Secondary Sales Rep In-Vivo)
9,EMPLOYEE_ID (Account Secondary Sales Rep In-Vi...,EMPLOYEE_ID (Account Secondary Sales Rep In-Vivo)
1,EMPLOYEE_ID (Manager),EMPLOYEE_ID (Territory Assignment)

In [117]:
import networkx as nx

In [118]:
G = nx.Graph()

In [122]:
G.add_edges_from(rf[['From','To']].apply(lambda x: (x[0],x[1]),axis=1).tolist())

In [ ]:
G.degree