In [94]:
import numpy as np
from matplotlib import pyplot as plt
from numpy import random as rnd
import warnings,os,datetime,time

import torch
import pandas as pd

from keras.models import Sequential,Model
from keras.layers import Dense,BatchNormalization,Dropout,LSTM,Concatenate,Activation,Input
from keras.preprocessing.text import Tokenizer

from bs4 import BeautifulSoup

import spacy
from nltk import sent_tokenize,word_tokenize

import pickle

In [2]:
basedir = '..//..//..//TF_data//BLOGENTRIES//blogs//'

files = os.listdir(basedir)[:250]

df = pd.DataFrame()
for c_file in files:
    
    try:
        with open(basedir+c_file) as fp: soup = BeautifulSoup(fp, 'xml')
    except:
        continue
    cells = soup.findAll(['date','post'])

    data = []
    for k in range(0,len(cells),2):
        data.append([
            str(cells[k]).replace('<date>','').replace('</date>','').replace(',','-'),
            str(cells[k+1]).replace('<post>','').replace('</post>','').replace('\n','').replace('\t','').lstrip().rstrip()
        ])
    cf = pd.DataFrame(data).rename(columns={0:'Date Post',1:'Text Post'})
    c_ID,c_Gender,c_Age,c_Topic,c_AstroSign = c_file.split('.')[:-1]

    cf['ID Poster'] = c_ID
    cf['Gender Poster'] = c_Gender
    cf['Age Poster'] = c_Age
    cf['Topic Channel'] = c_Topic
    cf['Astro Sign Poster'] = c_AstroSign
    
    df = pd.concat([df,cf]).reset_index(drop=True)

In [ ]:
df0 = df[['Text Post','ID Poster']]

In [ ]:
df0 = df0[df0['ID Poster'].isin(df0['ID Poster'].value_counts().sort_values(ascending=False).index[:4])]
df0['Text Sentence'] = df0['Text Post'].apply(lambda x: [xxx for xx in sent_tokenize(x) for xxx in xx.split(',')])
df0 = df0.drop(columns=['Text Post'])

In [ ]:
df0 = df0.explode(column='Text Sentence')

In [ ]:
df0 = df0[df0['Text Sentence'].apply(lambda x: type(x)==str)].reset_index(drop=True)
df0['Text Sentence'] = df0['Text Sentence'].apply(lambda x: x.lower())
df0['Length Sentence'] = df0['Text Sentence'].apply(lambda x: len(word_tokenize(x)))

In [180]:
df0 = df0[df0['Length Sentence']>=20]
df0 = df0.sample(frac=1).reset_index(drop=True)
df0 = df0.drop(columns=['Length Sentence'])

In [196]:
df0

     ID Poster                                      Text Sentence
0      1093457   you are not allowed to have an opinion of bbc...
1      1078410  --benjamin franklin     got this one for the p...
2      1093691  2 people to work 3 tills which we refuse to do...
3      1093691  ( you can tell she was glad to see us) i'm rea...
4      1093691  the most surprising thing was that she then pa...
...        ...                                                ...
6352   1093691  my business studies results are as follows... ...
6353    106651   but i knew it was around me and hidden in the...
6354   1093691  so really i'm stressing about things that aren...
6355    106651  i was annoyed i had to be 23 again but i was g...
6356   1078410   1913--the system of privately-owned federal r...

[6357 rows x 2 columns]

In [192]:
nlp = spacy.load('en_core_web_sm')

In [193]:
results = []

for k in df0.index:
    c_doc = nlp(df0.loc[k,'Text Sentence'])

    T = ''
    D = ''
    for c_sent in c_doc.sents:
        for c_tok in c_sent:
            if c_tok.dep_ in ['nsubj','ROOT','dobj']:
                T += c_tok.text+'_'
                D += c_tok.dep_+'_'

    if D.find('nsubj_ROOT_dobj_')>=0:
        R = T[D.find('nsubj_ROOT_dobj_'):].split('_')[:3]
        
    if R not in results and '' not in R:
        results.append(R)