In [3]:
import numpy as np 
from numpy import random as rnd
from matplotlib import pyplot as plt
import sys,os,datetime,warnings

import tensorflow as tf
import pandas as pd
import seaborn as sns

from keras.models import Model,Sequential
from keras.layers import Dense,LSTM,Input,BatchNormalization,Conv2D,Conv2DTranspose,Activation,Concatenate,Bidirectional,CuDNNGRU,Dropout,Dot,Flatten,Embedding

from sklearn.model_selection import train_test_split,TimeSeriesSplit

sns.set()
warnings.filterwarnings('ignore')

In [14]:
df0 = pd.read_csv('..\\..\\TF_data\\SHS\\TSD\\export.csv',sep='\t',index_col=0,parse_dates=['Date'])

In [17]:
idx = df0['Date'].unique()

In [19]:
df0.groupby(by=['ACC','DP','Date']).sum()

                            DXALTQ      REV
ACC         DP  Date
SU-1-10475Q 11  2013-10-01   360.0     0.00
SU-1-1073U7 4   2013-10-01  1408.0    31.36
                2013-11-01   502.0    35.14
                2013-12-01  1414.0    31.78
                2014-01-01   440.0    30.80
                2014-02-01  1358.0    27.86
                2014-03-01   366.0    25.62
                2014-04-01  1342.0    26.74
                2014-05-01  1411.0    31.57
                2014-06-01   501.0    35.07
                2014-07-01  1581.0    43.47
                2014-08-01   500.0    35.00
                2014-09-01  1402.0    30.94
                2014-10-01  1331.0    25.97
                2014-11-01   367.0    25.69
                2014-12-01   319.0    22.33
                2015-01-01  1317.0    24.99
                2015-02-01  1322.0    25.34
                2015-03-01   314.0    21.98
                2015-04-01   335.0    23.45
                2015-05-01  1339.0    26.53
                2015-06-01   435.0    30.45
                2015-07-01  1332.0    26.04
                2015-08-01   408.0    28.56
                2015-09-01  1290.0    23.10
                2015-10-01   359.0    25.13
                2015-11-01   396.0    27.72
                2015-12-01  1289.0    23.03
                2016-01-01   322.0    22.54
                2016-02-01   349.0    24.43
...                            ...      ...
SU-1-YD1ST  277 2018-05-01  1440.0   161.40
                2018-09-01   960.0   107.60
                2018-11-01   960.0   108.71
                2019-03-01   960.0   107.60
            278 2013-11-01   480.0    56.46
                2014-01-01   480.0    55.90
                2014-03-01   480.0    55.90
                2014-05-01   480.0    56.46
                2014-09-01   480.0    56.52
                2014-11-01   480.0    57.12
                2015-02-01   480.0    56.75
                2015-04-01   480.0    57.61
                2015-07-01   480.0    57.52
                2015-10-01   480.0    57.04
                2016-01-01   480.0    55.90
                2016-02-01   480.0    55.90
                2016-05-01   480.0    56.58
                2016-07-01   480.0    56.45
                2016-12-01   480.0    55.90
                2017-02-01   480.0    56.38
                2017-04-01   480.0    58.69
                2017-07-01   480.0    59.24
                2017-09-01   480.0    59.40
                2018-02-01   960.0   117.90
                2018-05-01   960.0   117.38
                2018-10-01   480.0    58.69
                2019-03-01   480.0    58.69
                2019-05-01   480.0    59.70
                2019-06-01   480.0    58.69
SU-1-YD28X  232 2014-02-01   -15.0 -3113.24

[8177519 rows x 2 columns]